Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.3.1
  entry: shfmt
  args:
  - -w
  - -s
  stages:
  - commit

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false
  stages:
  - commit

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run ==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg
  stages:
  - commit

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.140.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'
  stages:
  - commit

chore(pre-commit): switch from commitlint to gitlint
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .gitlint
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

chore(pre-commit): switch from markdownlint-cli to pymarkdown
  .markdownlint.yaml
  .pre-commit-config.yaml
  .pymarkdown.json
Due: none

chore(pymarkdown): address findings
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore(pre-commit): make use of `default_stages` in commit
  .pre-commit-config.yaml
Due: none

ci(renovate): enable pre-commit
  renovate.json
Due: none

docs(readme): remove known problem related to cd and Makefiles
  README.md
Due: none

chore(pre-commit): update pymarkdown to v0.9.0
  .pre-commit-config.yaml
Due: none

test(ip): require command for route replace test
  test/t/test_ip.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

insmod, modinfo, modprobe: support zstd compressed modules
  completions/insmod
  completions/modinfo
  completions/modprobe
Due: shfmt

feat(insmod,modinfo,modprobe): support zstd compressed modules (#614)
  completions/insmod
  completions/modinfo
  completions/modprobe
Due: shfmt

Add completion script for dgit
  completions/dgit
Due: shfmt

chore(deps): update pyflakes to v2.4.0
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

chore(pre-commit): upgrade shfmt to 3.4.0, use scop/pre-commit-shfmt
  .pre-commit-config.yaml
Due: none

test: move docker entrypoint script to test/docker/
  doc/testing.txt
  test/docker/entrypoint.sh
Due: shfmt

test: move .dockerignore to test/
  test/.dockerignore
Due: none

test: add Alpine docker build files
  test/docker/alpine/Dockerfile
  test/docker/alpine/install-packages.sh
Due: shfmt

test: add CentOS 7 docker build files
  test/docker/centos7/Dockerfile
  test/docker/centos7/install-packages.sh
Due: shfmt

test: add Debian 10 docker build files
  test/docker/debian10/Dockerfile
  test/docker/debian10/install-packages.sh
Due: shfmt

test: add Fedora development docker build files
  test/docker/fedoradev/Dockerfile
  test/docker/fedoradev/install-packages.sh
Due: shfmt

test: add Ubuntu 14 docker build files
  test/docker/ubuntu14/Dockerfile
  test/docker/ubuntu14/install-packages.sh
Due: shfmt

ci: build and push test Docker images to ghcr.io
  .github/workflows/update-docker-images.yml
Due: none

test(docker): do not install npm and jshint on ubuntu14
  test/docker/ubuntu14/install-packages.sh
Due: shfmt

test(docker): update slapt-get and slapt-get tarball URLs
  test/docker/debian10/install-packages.sh
Due: shfmt

refactor(extra): remove obsolete Docker image update git hook scripts
  extra/git-post-commit.sh
  extra/git-pre-push.sh
Due: shfmt

ci: point test images to ghcr.io
  .github/workflows/ci.yaml
Due: none

ci(docker): enable image update on test-cmd-list.txt master changes
  .github/workflows/update-docker-images.yml
Due: none

ci(docker): update images when their setup files change, too
  .github/workflows/update-docker-images.yml
Due: none

test(debian10): create /var/lib/pkgtools/packages for slapt-get
  test/docker/debian10/install-packages.sh
Due: shfmt

chore(pre-commit): upgrade shfmt to 3.4.0, use scop/pre-commit-shfmt (#619)
  .pre-commit-config.yaml
Due: none

feat(pyston,pyston3): new completion, python alias
  completions/.gitignore
  completions/Makefile.am
  completions/python
  test/t/Makefile.am
  test/t/test_pyston.py
Due: shfmt, update-test-cmd-list, mypy

feat(python,pyvenv): 3.11 support
  completions/.gitignore
  completions/Makefile.am
  completions/python
Due: shfmt

feat(python): complete with *.zip
  completions/python
Due: shfmt

ci(docker): trigger on workflow_dispatch for manual runs
  .github/workflows/update-docker-images.yml
Due: none

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
