Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.18
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.3
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

refactor(cppcheck): use `_comp_delimited`
  completions/cppcheck
Due: none

perf(_comp_delimited): add "$prefix" only when it is non-empty
  bash_completion
Due: none

fix(make,tshark): work around localvar_inherit
  completions/make
  completions/tshark
Due: none

refactor(openssl): prefix "-" to the generated items
  completions/openssl
Due: none

fix(strings): work around nounset
  completions/strings
Due: none

fix(make): work around custom IFS
  completions/make
Due: none

refactor(tshark): use `_comp_compgen -P` for `-[oX]-...`
  completions/tshark
Due: none

refactor(_mount{,.linux}): use `_comp_compgen -P` for `//host/...`
  completions/_mount
  completions/_mount.linux
Due: update-test-fallback-links

refactor({,u}mount,kcov,lintian): use `_comp_compgen -P` for `*,*`
  completions/_mount.linux
  completions/_umount.linux
  completions/kcov
  completions/lintian
Due: update-test-fallback-links

refactor(dot,gprof,protoc,ssh,7z): use `_comp_compgen -P` for optargs
  completions/7z
  completions/dot
  completions/gprof
  completions/protoc
  completions/ssh
Due: none

refactor(curl,strings): use `_comp_compgen -P` for `@...`
  completions/curl
  completions/strings
Due: none

refactor(xgamma): use `_comp_compgen -P` for `-display:*.*`
  completions/xgamma
Due: none

feat(_comp_compgen): support `-P prefix` with auto-adjusted `cur`
  bash_completion
  doc/api-and-naming.md
  test/t/unit/test_unit_compgen.py
Due: update-test-cmd-list, mypy

refactor(_comp_compgen_tilde): use `_comp_compgen -P` for `~...`
  bash_completion
Due: none

refactor(upgradepkg): use `_comp_compgen -P` for `*%*`
  completions/upgradepkg
Due: none

refactor(tar): move variable declarations to the relevant places
  completions/tar
Due: none

refactor(tar): remove duplicate declarations
  completions/tar
Due: none

refactor(tar): initialize the variables in parsers
  completions/tar
Due: none

perf(tar): parse the GNU tar help on initialization
  completions/tar
Due: none

refactor(tar): rename functions only used in initialization
  completions/tar
Due: none

fix(cd): fix the pattern matching
  completions/cd
Due: none

refactor(cd): generate cdable_vars in the completion function
  completions/cd
Due: none

refactor(cd): factorize generator for CDPATH
  completions/cd
Due: none

fix(cd): generate only cdable_vars containing valid directory paths
  completions/cd
  test/t/test_cd.py
Due: update-test-cmd-list, mypy

fix(rcs): avoid unexpected pathname expansion
  completions/rcs
Due: none

fix(mdtool): fix usage of `compgen -G`
  completions/mdtool
Due: none

refactor(rcs): declare "local i" closer
  completions/rcs
Due: none

fix(mdtool): use `-f -X '!pat'` instead of `-G pat`
  completions/mdtool
Due: none

test(dequote{,_incomplete}): use raw stringliteral r""
  test/t/unit/test_unit_dequote.py
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

fix(_comp_dequote): set the literal value to REPLY as a fallback
  bash_completion
  completions/java
  completions/make
  completions/mutt
  completions/pkgutil
  completions/ssh
  test/t/unit/test_unit_dequote.py
Due: update-test-cmd-list, mypy

refactor(ssh): remove outdated disable=SC2089,SC2090
  completions/ssh
Due: none

test(scp): leave comments for a failing test case
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

test(cancel,ls,man): remove redundant "return"
  test/t/test_cancel.py
  test/t/test_ls.py
  test/t/test_man.py
Due: update-test-cmd-list, mypy

fix(rsync,scp): remove file-type marks from "ls -F" properly
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(_comp_command_offset): work around nounset
  bash_completion
Due: none

refactor(scp): use "_comp_compgen_split -P" to add prefix
  completions/ssh
Due: none

refactor(ssh): accept dironly flag as an option
  completions/ssh
Due: none

fix(scp): fix a bug that `-F<prefix>[TAB]` did not complete at all
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(scp): rename local var "_dirs{ => _}only" for consistency
  completions/ssh
Due: none

fix(rsync,ssh,sshfs): do not generate regular files *'\' as dirs
  completions/ssh
  test/fixtures/sshfs/local_path-dir/dummy.txt
  test/fixtures/sshfs/local_path-file\
  test/t/test_sshfs.py
Due: update-test-cmd-list, mypy
