Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.0]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies: [flake8-bugbear==20.1.4]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: [--settings-path=test/setup.cfg]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy
        args: [--config-file=test/setup.cfg]
        # Intentionally not run on helpers/python (support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20201001"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.138.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.25.0
    hooks:
      - id: markdownlint

test: do not build separate containers, run off the docker hub ones
  .travis.yml
  test/docker/Dockerfile
  test/docker/docker-script.sh
Due: shfmt

ci: simplify docker tarball copy commands
  .travis.yml
Due: none

Expand $HOME in pytest wrapper script at build time
  Dockerfile
Due: none

Install python dependencies to /usr/local
  Dockerfile
Due: none

pre-commit: upgrade markdownlint to 0.26.0
  .pre-commit-config.yaml
Due: none

chsh: document as deprecated over util-linux one only
  completions/_chsh
Due: shfmt

chsh: add -R/--root arg completion
  completions/_chsh
Due: shfmt

test: set -u for docker shell script
  test/docker/docker-script.sh
Due: shfmt

mutt: enable completions for neomutt (#466)
  completions/.gitignore
  completions/Makefile.am
  completions/mutt
  test/t/Makefile.am
  test/t/test_neomutt.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

CI: fix docker image update command syntax
  .github/workflows/update-docker-images.yml
Due: none

doc/styleguide: establish _comp_ prefix for our functions
  doc/styleguide.txt
Due: none

*: apply _comp_ prefix rule to all functions introduced after 2.11
  completions/apt-get
  completions/apt-mark
  completions/avahi-browse
  completions/declare
  completions/ps
  completions/sha256sum
  completions/xrandr
Due: shfmt

slapt-get, slapt-src: make work with BSD sed
  completions/slapt-get
  completions/slapt-src
Due: shfmt

test: remove neomutt from test-cmd-list.txt, not actually needed
  test/test-cmd-list.txt
Due: none

dmypy: make work with BSD sed
  completions/dmypy
Due: shfmt

firefox: apply to firefox-esr too
  completions/.gitignore
  completions/Makefile.am
  completions/firefox
Due: shfmt

test/firefox: xfail options completion on --help failure
  test/t/test_firefox.py
Due: update-test-cmd-list

test: add missing require_cmd ps and tox markers
  test/t/test_ps.py
  test/t/test_tox.py
  test/test-cmd-list.txt
Due: update-test-cmd-list

_comp_delimited: fix bash < 4.4 (?) nounset error
  bash_completion
Due: shfmt

test: make docker script's PYTESTFLAGS overridable
  test/docker/docker-script.sh
Due: shfmt

test: move docker-script.sh to test/
  .travis.yml
  doc/testing.txt
  test/docker-script.sh
Due: shfmt

test: cope with $HOME != ~currentuser
  test/t/conftest.py
  test/t/unit/test_unit_expand_tilde_by_ref.py
Due: update-test-cmd-list

test/arpspoof: skip gracefully on libnet_select_device errors
  test/t/test_arpspoof.py
Due: update-test-cmd-list

test: copy dist tarball to original dir at end of docker run
  test/docker-script.sh
Due: shfmt

test: log pexpect to stdout by default
  test/t/conftest.py
Due: update-test-cmd-list

CI: move most checks to GitHub actions
  .github/workflows/check.yaml
  .travis.yml
Due: none

CI: run pytest without parallel
  .github/workflows/check.yaml
Due: none

unzip, zipinfo: complete with *.oxps and *.xps
  bash_completion
Due: shfmt

CI: run fedoradev with --security-opt seccomp=unconfined for now
  .github/workflows/check.yaml
Due: none

build: clean up wine64* symlinks on make clean
  completions/Makefile.am
Due: none

python, pyvenv: install for 3.10 too
  completions/.gitignore
  completions/Makefile.am
  completions/python
  completions/pyvenv
Due: shfmt

pkgutil: don't suggest short options
  completions/pkgutil
Due: shfmt

*: cleanups
  completions/complete
  completions/pkg-get
  completions/pkgadd
  completions/rpm
Due: shfmt

dist: generate POSIX.1-2001/pax tarball for UTF-8 portability
  configure.ac
Due: none

mypy: skip following _pytest imports
  test/setup.cfg
Due: none

pre-commit: add check-case-conflict hook
  .pre-commit-config.yaml
Due: none
