Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.0
  entry: shfmt
  args:
  - -w
  - -s

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.138.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'

Upgrade Python to 3.6, from deadsnakes
  Dockerfile
Due: none

Install GNU tar so creating POSIX tarballs works
  Dockerfile
Due: none

Revert "mypy: skip following _pytest imports"
  test/setup.cfg
Due: none

test: require Python >= 3.6
  .pre-commit-config.yaml
  doc/testing.txt
  extra/make-changelog.py
  pyproject.toml
  test/requirements.txt
  test/setup.cfg
  test/t/test_finger.py
  test/t/test_make.py
  test/t/test_mutt.py
  test/t/test_scp.py
  test/t/test_xhost.py
  test/t/unit/test_unit_filedir.py
  test/t/unit/test_unit_get_comp_words_by_ref.py
Due: update-test-cmd-list

test: remove breaking pytest type hints
  test/t/conftest.py
  test/t/test_kdvi.py
  test/t/test_kpdf.py
Due: update-test-cmd-list

pre-commit: run mypy with venv-run
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

mypy: ignore only necessary import issues
  extra/make-changelog.py
  test/setup.cfg
  test/t/conftest.py
  test/t/unit/test_unit_get_cword.py
Due: update-test-cmd-list

test: remove remaining breaking pytest type hint
  test/t/test_evince.py
Due: update-test-cmd-list

test/make: fix test_2 regression
  test/t/test_make.py
Due: update-test-cmd-list

CI: set up a venv for venv-run
  .github/workflows/check.yaml
Due: none

CI: install dev deps to the venv, too
  .github/workflows/check.yaml
Due: none

test/time: use _comp_delimited as command name completion subject
  test/t/test_time.py
Due: update-test-cmd-list

7z, tar, unace, unrar, unzip, zipinfo: recognize comic book archives
  bash_completion
  completions/7z
  completions/tar
  completions/unace
  completions/unrar
Due: shfmt

test/chsh: adapt to cope with nonexistent /etc/shells
  test/t/test_chsh.py
Due: update-test-cmd-list

chsh, useradd, usermod: complete shells in chroot given by -R/--root
  bash_completion
  completions/_chsh
  completions/useradd
  completions/usermod
  test/t/test_chsh.py
  test/t/test_useradd.py
  test/t/test_usermod.py
Due: shfmt, update-test-cmd-list

_comp_selinux_users: new, use to complete user{add,mod} --selinux-user/-Z arg
  bash_completion
  completions/useradd
  completions/usermod
Due: shfmt

test: enable pexpect stdout logging by default only in CI
  test/t/conftest.py
Due: update-test-cmd-list

7z, tar, unace, unrar, unzip, zipinfo: recognize comic book archives (#488)
  bash_completion
  completions/7z
  completions/tar
  completions/unace
  completions/unrar
Due: shfmt

test: add missing shells fixture
  test/fixtures/shells/etc/shells
Due: none

pre-commit: upgrade perltidy to 20210111
  .pre-commit-config.yaml
Due: none

Implemented auto-completion for makefiles with custom bash-completion target
  completions/make
Due: shfmt

qemu: don't hardcode -k completions
  completions/qemu
  test/t/test_qemu.py
Due: shfmt, update-test-cmd-list

test: test qemu-system-x86_64 too
  test/t/Makefile.am
  test/t/test_qemu_system_x86_64.py
  test/test-cmd-list.txt
Due: update-test-cmd-list

scp, sftp: fix nounset error on -o arg completion
  completions/ssh
Due: shfmt

*: spelling fixes
  bash_completion
  completions/convert
  completions/gm
  completions/svcadm
  completions/tar
  test/t/unit/test_unit_get_comp_words_by_ref.py
  test/t/unit/test_unit_get_cword.py
Due: shfmt, update-test-cmd-list

pre-commit: upgrade shfmt to 3.2.2
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade pyupgrade to 2.9.0
  .pre-commit-config.yaml
Due: none

man: add --sections/-S/-s arg completion
  completions/man
Due: shfmt

fix(_comp_delimited): append space by default
  bash_completion
  test/t/test_man.py
Due: shfmt, update-test-cmd-list

Match all files in directories under /dev/serial
  completions/screen
Due: shfmt

_known_hosts_real: look up _ssh._tcp from avahi, too
  bash_completion
Due: shfmt

Cygwin and MSYS compat for _ncpus
  bash_completion
Due: shfmt

Update bash_completion
  bash_completion
Due: shfmt

_ncpus: Cygwin and MSYS compat (#500)
  bash_completion
Due: shfmt

fix(_comp_delimited): nounset mode error on first token
  bash_completion
Due: shfmt

feat(curl): support versions with --help category support
  completions/curl
Due: shfmt

feat(curl): support many more option arg (non)completions
  completions/curl
Due: shfmt

feat(mypy): more option argument noncompletions
  completions/mypy
Due: shfmt

fix(mypy): --custom-typing-module handling
  completions/mypy
Due: shfmt

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
