Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.6.0-1
    hooks:
      - id: shfmt-docker
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-deprecated-links
        name: update-test-deprecated-links
        language: script
        entry: test/deprecated/update-deprecated-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.247
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.1.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20210717"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.6
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.13.12
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

feat(nomad): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(consul): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(packer): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(nox): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_nox
  test/fallback/completions/Makefile.am
  test/fallback/completions/nox
Due: update-test-deprecated-links

feat(nox): `register-python-argcomplete` lookup improvements
  completions/_nox
Due: update-test-deprecated-links

docs(nox): note applicability to no-arg `register-python-argcomplete`
  completions/_nox
Due: update-test-deprecated-links

fix(nox): invoked sed as `command sed`
  completions/_nox
Due: update-test-deprecated-links

fix(nox): improve the PATH manipulation
  completions/_nox
Due: update-test-deprecated-links

fix(nox): improve the PATH manipulation (#920)
  completions/_nox
Due: update-test-deprecated-links

test(_realcommand): add some test cases
  test/t/unit/Makefile.am
  test/t/unit/test_unit_realcommand.py
Due: update-test-cmd-list, mypy

refactor: rename `_realcommand => _comp_realcommand`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/gcc
  completions/vncviewer
  test/t/unit/test_unit_realcommand.py
Due: update-test-cmd-list, mypy

fix(__load_completion): check `_comp_realcommand` return code
  bash_completion
Due: none

fix(_comp_realcommand): absolutize more in fallback case
  bash_completion
Due: none

refactor(__load_completion): improve variable naming
  bash_completion
Due: none

refactor(__load_completion): handle backslash always at start of command
  bash_completion
Due: none

fix(__load_completion): pass full path to fallback completion loaders
  bash_completion
Due: none

perf(__load_completion): reduce number of `stat` calls
  bash_completion
Due: none

feat(__load_completion): pass absolute path when sourcing and available
  bash_completion
Due: none

feat(__load_completion): source all completions with same args
  bash_completion
Due: none

feat(__load_completion): check that a completion was actually set
  bash_completion
  test/fixtures/__load_completion/prefix1/share/bash-completion/completions/cmd1
  test/fixtures/__load_completion/prefix1/share/bash-completion/completions/cmd2
  test/fixtures/__load_completion/userdir1/completions/cmd1
  test/fixtures/__load_completion/userdir2/completions/cmd2
  test/t/unit/test_unit_load_completion.py
Due: update-test-cmd-list, mypy

fix(strace): fix the test for an associative array
  completions/strace
Due: none

fix(svcadm): fix for localvar_inherit
  completions/svcadm
Due: none

fix(_tilde): fix false negative with 256 generated users
  bash_completion
Due: none

fix(_known_hosts_real): fix "nounset" error with empty known_hosts
  bash_completion
Due: none

docs(__load_completion): elaborate on preserving basename
  bash_completion
Due: none

refactor(fallbacks): remove checks if a completion got installed
  completions/_cargo
  completions/_gh
  completions/_golangci-lint
  completions/_nox
  completions/_ruff
  completions/_rustup
  completions/_yq
Due: update-test-deprecated-links

refactor(_vault): do not install for command basename
  completions/_vault
Due: update-test-deprecated-links

perf(__load_completion): avoid a subshell on completion install check
  bash_completion
Due: none

feat(_comp_abspath): new utility function, use in `_comp_realcommand`
  bash_completion
Due: none

fix(__load_completion): don't resolve symlinks to invoked command
  bash_completion
Due: none

feat(trivy): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

fix(_minimal): fall back to defaults instead of `_filedir`
  bash_completion
Due: none

refactor: be consistent with default assignments
  completions/_udevadm
  completions/badblocks
  completions/cryptsetup
  completions/dnssec-keygen
  completions/dumpe2fs
  completions/e2freefrag
  completions/e2label
  completions/hddtemp
  completions/lilo
  completions/lvm
  completions/mdadm
  completions/mplayer
  completions/nsupdate
  completions/smartctl
  completions/tune2fs
Due: update-test-deprecated-links

fix(mutt): default mail dir assignment
  completions/mutt
Due: none

feat: Add support for ping4
  completions/.gitignore
  completions/Makefile.am
  completions/ping
Due: none

feat(_comp_split): return if any elems are generated via exit status
  bash_completion
Due: none
