Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.1.2]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies: [flake8-bugbear==20.1.4]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/timothycrosley/isort
    rev: 5.1.4
    hooks:
      - id: isort
        args: [--settings-path=test/setup.cfg]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args: [--config-file=test/setup.cfg]
        # Intentionally not run on helpers/python (support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20200619"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.138.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint

ps: simplify code some, split long lines
  completions/ps
Due: shfmt

ps: protect --tty against nonexistent /dev/tty*
  completions/ps
Due: shfmt

test/ps: format source
  test/t/test_ps.py
Due: update-test-cmd-list

ps: use _parse_help
  completions/ps
  test/t/test_ps.py
Due: shfmt, update-test-cmd-list

test: add ps to test-cmd-list.txt
  test/test-cmd-list.txt
Due: none

ps: new completion (#435)
  completions/Makefile.am
  completions/ps
  test/t/Makefile.am
  test/t/test_ps.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

pkgconf: new, alias for pkg-config
  completions/.gitignore
  completions/Makefile.am
  completions/pkg-config
  test/t/Makefile.am
  test/t/test_pkgconf.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

{python,pyvenv}-3.9: gitignore
  completions/.gitignore
Due: none

test/pkg-config,pkgconf: add variable completion test case
  test/t/test_pkg_config.py
  test/t/test_pkgconf.py
Due: update-test-cmd-list

pre-commit: upgrade perltidy to 20201001
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade isort to 5.5.4
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade flake8 to 3.8.4, update repo URL
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade markdownlint to 0.24.0
  .pre-commit-config.yaml
Due: none

build: remove wine-development and wine-stable symlinks on make clean
  completions/Makefile.am
Due: none

wine: install for wine64, wine64-development, and wine64-stable too
  completions/.gitignore
  completions/Makefile.am
  completions/wine
Due: shfmt

wine: do not offer completions after --help or --version
  completions/wine
  test/t/test_wine.py
Due: shfmt, update-test-cmd-list

pre-commit: untweak flake8 repo URL
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade isort to 5.6.1
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade mypy to 0.790
  .pre-commit-config.yaml
Due: none

mypy: show error codes
  test/setup.cfg
Due: none

xrandr: improve completion
  completions/xrandr
Due: shfmt

xrandr: do not handle --dpi separately
  completions/xrandr
Due: shfmt

xrandr: fix shfmt, complete all modes for --addmode
  completions/xrandr
Due: shfmt

xrandr: improve tests
  test/fixtures/xrandr/xrandr
  test/t/test_xrandr.py
Due: update-test-cmd-list

xrandr: fix shfmt issues
  completions/xrandr
Due: shfmt

xrandr: fix black issues
  test/t/test_xrandr.py
Due: update-test-cmd-list

pre-commit: upgrade isort to 5.6.4
  .pre-commit-config.yaml
Due: none

test: add dpkg -i test case
  test/t/test_dpkg.py
Due: update-test-cmd-list

pre-commit: upgrade pyupgrade to 2.7.3
  .pre-commit-config.yaml
Due: none

watch: enable on macOS
  completions/watch
Due: shfmt

pre-commit: upgrade shfmt to 3.2.0
  .pre-commit-config.yaml
Due: none

kaffeeine, dragon, totem: Add opus file extension
  bash_completion
Due: shfmt

apt-cache: do not suggest short options
  completions/apt-cache
Due: shfmt

apt-cache: sync option and command lists with Debian 10 manpage
  completions/apt-cache
Due: shfmt

apt-cache: add --with-source arg completion
  completions/apt-cache
Due: shfmt

apt-get: extract _apt_get_installed_packages function
  completions/apt-get
Due: shfmt

dpkg: installed and purgeable packages nounset fixes
  completions/dpkg
Due: shfmt

test/test-cmd-list: add apt-mark
  test/test-cmd-list.txt
Due: none

apt-mark: new completion
  completions/Makefile.am
  completions/apt-mark
  test/t/test_apt_mark.py
Due: shfmt, update-test-cmd-list

apt-mark, test/apt-mark: format sources
  completions/apt-mark
  test/t/test_apt_mark.py
Due: shfmt, update-test-cmd-list
