Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

refactor(fio): use _comp_compgen_split
  completions/fio
Due: none

feat: add _comp_compgen_split
  bash_completion
  test/t/unit/test_unit_compgen_split.py
Due: update-test-cmd-list, mypy

fix(ps,ss): avoid extra expansions by -W "$(...)" in _comp_delimited
  completions/ps
  completions/ss
Due: none

fix(_comp_compgen_split): work around nounset
  bash_completion
Due: none

docs(api-and-naming): add rules for xfuncs and generators
  doc/api-and-naming.md
Due: none

feat(_comp_compgen): support `-i cmd` and `-x cmd`
  bash_completion
  test/fixtures/_comp_compgen/completions/compgen-cmd1
  test/fixtures/_comp_compgen/completions/compgen-cmd2
  test/t/unit/test_unit_compgen.py
Due: update-test-cmd-list, mypy

docs(_comp_compgen): clarify `@return`
  bash_completion
Due: none

fix(_comp_split,_comp_compgen): strip periods from error message
  bash_completion
Due: none

refactor(_comp_compgen): check usage of `-F sep`
  bash_completion
Due: none

style(cd): use `set` for the true value of boolean variables
  completions/cd
Due: none

fix(xfunc ssh identityfile): localize change to cur
  completions/ssh
Due: none

style(rpm): quote an argument properly
  completions/rpm
Due: none

docs: describe uses of `_comp_compgen_split`
  CONTRIBUTING.md
  doc/api-and-naming.md
Due: none

feat(_comp_compgen_{filedir,set}): define exit status
  bash_completion
Due: none

fix(java,kldload): use `_comp_compgen` for filename-based mod names
  completions/java
  completions/kldload
Due: none

fix(ssh): use `_comp_compgen` for `_comp_xfunc_ssh_identityfile`
  completions/ssh
Due: none

fix: use `_comp_compgen` for word list
  completions/config_list
  completions/cpio
  completions/ipmitool
  completions/koji
  completions/list_members
  completions/qemu
  completions/ssh
Due: none

refactor: clean up old IFS workarounds
  bash_completion
  completions/bzip2
  completions/cd
  completions/gzip
  completions/lzma
  completions/rpm
Due: none

fix(upgradepkg): use `_comp_compgen` for `_comp_cmd_upgradepkg`
  completions/upgradepkg
Due: none

fix(filedir): work around bash-4.2 `compgen -f -- "''"`
  bash_completion
Due: none

refactor(_comp_ltrim_colon_completions): simplify implementation
  bash_completion
Due: none

refactor(_comp_configured_interfaces): turn into a generator
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/brctl
  completions/ifup
Due: none

refactor(_comp_signals): turn into a generator
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/kill
  completions/killall
  completions/pgrep
  completions/timeout
Due: none

feat(bash_completion): add function _comp_compgen_ltrim_colon
  bash_completion
Due: none

refactor(_comp_mac_addresses): turn into a generator
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/ether-wake
  completions/wol
Due: none

refactor(_comp_ip_addresses): turn into a generator
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/arping
  completions/curl
  completions/hddtemp
  completions/iperf
  completions/links
  completions/nc
  completions/ping
  completions/ssh
  completions/wget
  test/t/unit/test_unit_ip_addresses.py
Due: update-test-cmd-list, mypy

refactor(_comp_available_interfaces): turn into a generator
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_nmcli
  completions/arp
  completions/arping
  completions/arpspoof
  completions/curl
  completions/dhclient
  completions/dnsspoof
  completions/dsniff
  completions/ether-wake
  completions/filesnarf
  completions/gssdp-discover
  completions/hping2
  completions/ifstat
  completions/iftop
  completions/ip
  completions/iperf
  completions/iwconfig
  completions/iwlist
  completions/iwpriv
  completions/iwspy
  completions/macof
  completions/mii-diag
  completions/mii-tool
  completions/mkinitrd
  completions/nethogs
  completions/ngrep
  completions/nmap
  completions/ping
  completions/resolvconf
  completions/route
  completions/ssh
  completions/sshow
  completions/tcpdump
  completions/tcpkill
  completions/tcpnice
  completions/urlsnarf
Due: update-test-deprecated-links

feat(_comp_compgen_commands): auto set `-o filenames` when appropriate
  bash_completion
  completions/_svn
  completions/cpio
  completions/fio
  completions/man
  completions/perlcritic
  completions/protoc
  completions/querybts
  completions/reportbug
  completions/rpm
  completions/sqlite3
  completions/ssh
  completions/tar
  completions/tcpdump
  completions/valgrind
  completions/vpnc
  test/t/unit/test_unit_compgen_commands.py
Due: update-test-cmd-list, update-test-deprecated-links, mypy

feat(_comp_compgen_commands): include dirs
  bash_completion
Due: none

feat: no empty command completion if `no_empty_cmd_completion` is on
  bash_completion
  completions/_svn
  completions/cpio
  completions/dpkg
  completions/fio
  completions/firefox
  completions/man
  completions/mr
  completions/mussh
  completions/mypy
  completions/perlcritic
  completions/protoc
  completions/querybts
  completions/reportbug
  completions/rpm
  completions/sqlite3
  completions/ssh
  completions/ssh-keygen
  completions/strace
  completions/tar
  completions/tcpdump
  completions/valgrind
  completions/vpnc
  doc/configuration.md
  test/t/unit/Makefile.am
  test/t/unit/test_unit_compgen_commands.py
Due: update-test-cmd-list, update-test-deprecated-links, mypy

refactor: replace `compgen -c -d` with `_comp_compgen_commands`
  bash_completion
  completions/_su
  completions/gdb
Due: update-test-deprecated-links

test(_comp_compgen_commands): fix with bash 4.2 and `nounset` mode
  test/t/unit/test_unit_compgen_commands.py
Due: update-test-cmd-list, mypy

refactor(_comp_compgen_commands): simplify `-o filenames` handling
  bash_completion
Due: none

feat(_comp_compgen_commands): align return value with other compgens
  bash_completion
Due: none

docs(_comp_compgen_commands): document return value
  bash_completion
Due: none

refactor(__load_completion): remove redundant `local ret`
  bash_completion
Due: none

feat(b2sum): new completion
  completions/Makefile.am
  completions/sha256sum
  test/t/Makefile.am
  test/t/test_b2sum.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

fix(lvm): update call to sub-command
  completions/lvm
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
