Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-fallback-links:
  name: update-test-fallback-links
  language: script
  entry: test/fallback/update-fallback-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.2.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(java,rsync,scp): handle quoted space in filepaths properly
  completions/java
  completions/ssh
  test/t/test_rsync.py
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

ci: Install sshd to test against a real ssh server
  test/docker/alpine/Dockerfile
  test/docker/centos7/Dockerfile
  test/docker/debian10/Dockerfile
  test/docker/entrypoint.sh
  test/docker/fedoradev/Dockerfile
  test/docker/ubuntu14/Dockerfile
Due: none

test: formatting fixes flagged by ruff
  test/t/test_getent.py
  test/t/test_gssdp_discover.py
  test/t/test_javaws.py
  test/t/test_modinfo.py
  test/t/test_modprobe.py
  test/t/test_wsimport.py
Due: update-test-cmd-list, mypy

feat(tmux): new completion
  completions/Makefile.am
  completions/tmux
  test/t/Makefile.am
  test/t/test_tmux.py
Due: update-test-cmd-list, mypy

ci: Make scp tests use localhost as LIVE_HOST
  .github/workflows/ci.yaml
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(xfreerdp): Always try /list:kbd first
  completions/xfreerdp
Due: none

ci(fedoradev): Qualify FROM to use fedora registry
  test/docker/fedoradev/Dockerfile
Due: none

test(fprintd): xfail --finger in container
  test/t/test_fprintd_enroll.py
Due: update-test-cmd-list, mypy

ci: Make distcheck not cancel jobs once one fails
  .github/workflows/ci.yaml
Due: none

docs(README): Suggest using `completionsdir` as a fallback
  README.md
Due: none

fix(convert): Try calling magick, for IM7
  completions/convert
Due: none

feat(tmux): add a new completion (#1364)
  completions/Makefile.am
  completions/tmux
  test/t/Makefile.am
  test/t/test_tmux.py
Due: update-test-cmd-list, mypy

TO BE REWORKED BEFORE MERGE: temporary macOS CI test config
  .github/workflows/ci.yaml
Due: none

ci: Remove if:false
  .github/workflows/ci.yaml
Due: none

test: add macOS test script
  test/macos-script.sh
Due: none

ci: Align macos script with current linux
  .github/workflows/ci.yaml
  test/macos-script.sh
Due: none

ci(macos): Use venv instead of global install
  test/macos-script.sh
Due: none

ci: Don't move to /work
  test/macos-script.sh
Due: none

REMOVE BEFORE MERGE: ignore errors for rmtree
  test/t/conftest.py
Due: update-test-cmd-list, mypy

ci(macos): Force colored output
  .github/workflows/ci.yaml
Due: none

REMOVE BEFORE MERGE: Some debug logs for deletion failures
  test/t/test_make.py
Due: update-test-cmd-list, mypy

fix(tmux): fix usage parsing with git master tmux
  completions/tmux
  test/t/test_tmux.py
Due: update-test-cmd-list, mypy

fix(xfreerdp): try `--list-kbd` as last resort
  completions/xfreerdp
Due: none

feat(bombadil): add 3rd party fallback completion loader
  completions/Makefile.am
  completions/_bombadil
  test/fallback/completions/Makefile.am
  test/fallback/completions/bombadil
Due: update-test-fallback-links

feat(_comp_backup_glob): add zsync .zs-old
  bash_completion
Due: none

docs: add SPDX license identifier
  bash_completion
Due: none

interface: handle name@link from iproute2
  bash_completion
Due: none

test(interfaces): Test for missing ip or ifconfig
  test/t/unit/test_unit_compgen_available_interfaces.py
Due: update-test-cmd-list, mypy

test(interfaces): Test completion of veth peers
  test/fixtures/shared/bin/ifconfig
  test/fixtures/shared/bin/ip
  test/t/unit/test_unit_compgen_available_interfaces.py
Due: update-test-cmd-list, mypy

refactor(scp): use "_comp_compgen_split -P" to add prefix
  completions/ssh
Due: none

test(cancel,ls,man): remove redundant "return"
  test/t/test_cancel.py
  test/t/test_ls.py
  test/t/test_man.py
Due: update-test-cmd-list, mypy

fix(rsync,scp): remove file-type marks from "ls -F" properly
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(rsync,ssh,sshfs): do not generate regular files *'\' as dirs
  completions/ssh
  test/fixtures/sshfs/local_path-dir/dummy.txt
  test/fixtures/sshfs/local_path-file\
  test/t/test_sshfs.py
Due: update-test-cmd-list, mypy

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-fallback-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
