Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-fallback-links:
  name: update-test-fallback-links
  language: script
  entry: test/fallback/update-fallback-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.2.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

chore(docs): formatting
  CONTRIBUTING.md
Due: none

chore(shfmt): add simplify to .editorconfig
  .dir-locals.el
  .editorconfig
Due: none

feat(unzip,zipinfo): recognize HarmonyOS .hap
  bash_completion
Due: none

feat(bsdtar): support .apk, .ipa and .hap
  completions/tar
Due: none

feat(asdf): add 3rd-party fallback completion loader for "asdf"
  completions/.gitignore
  completions/Makefile.am
Due: none

docs(README): update requirements on "command_not_found_handle"
  README.md
Due: none

fix(rsync,scp): remove file-type marks from "ls -F" properly
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(rsync,scp): remove file-type marks from "ls -F" properly (#1398)
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(scp): use "_comp_compgen_split -P" to add prefix
  completions/ssh
Due: none

fix(_comp_command_offset): work around nounset
  bash_completion
Due: none

refactor(ssh): remove outdated disable=SC2089,SC2090
  completions/ssh
Due: none

refactor(scp): rename local var "_dirs{ => _}only" for consistency
  completions/ssh
Due: none

test(cancel,ls,man): remove redundant "return"
  test/t/test_cancel.py
  test/t/test_ls.py
  test/t/test_man.py
Due: update-test-cmd-list, mypy

fix(ssh): work around localvar_inherit
  completions/ssh
Due: none

test(time): use bash as canary command
  test/t/test_time.py
Due: update-test-cmd-list, mypy

feat(unzip,zipinfo): generate *.crx (Google Chrome Extension archives)
  bash_completion
Due: none

test(sshfs): create files on the fly to work around Windows filesystem
  test/fixtures/sshfs/local_path-dir/dummy.txt
  test/fixtures/sshfs/local_path-file\
  test/t/test_sshfs.py
Due: update-test-cmd-list, mypy

feat(unzip,zipinfo): generate *.crx (Google Chrome Extension archives) (#1406)
  bash_completion
Due: none

test(scp): test spaces after completing filenames ending with '\'
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

feat(_comp_compgen): support `-P prefix` with auto-adjusted `cur`
  bash_completion
  doc/api-and-naming.md
  test/t/unit/test_unit_compgen.py
Due: update-test-cmd-list, mypy

test(scp): leave comments for a failing test case
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(scp): factorize common codes
  completions/ssh
Due: none

fix(java,rsync,scp): handle quoted space in filepaths properly
  completions/java
  completions/ssh
  test/t/test_rsync.py
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(ssh): accept dironly flag as an option
  completions/ssh
Due: none

fix(java,rsync,ssh): complete syntactically incomplete cur
  bash_completion
  completions/java
  completions/ssh
  test/fixtures/scp/local_path/backslash-a b.txt
  test/fixtures/scp/local_path/backslash-a\ b.txt
  test/t/test_scp.py
  test/t/unit/Makefile.am
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

fix(_comp_dequote): set the literal value to REPLY as a fallback
  bash_completion
  completions/java
  completions/make
  completions/mutt
  completions/pkgutil
  completions/ssh
  test/t/unit/test_unit_dequote.py
Due: update-test-cmd-list, mypy

fix(scp): work around incomplete triple backslashes for remote paths
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

test(dequote{,_incomplete}): use raw stringliteral r""
  test/t/unit/test_unit_dequote.py
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

refactor(*): use `_comp_compgen -P`
  bash_completion
  completions/7z
  completions/_mount
  completions/_mount.linux
  completions/_umount.linux
  completions/curl
  completions/dot
  completions/gprof
  completions/kcov
  completions/lintian
  completions/protoc
  completions/ssh
  completions/strings
  completions/tshark
  completions/upgradepkg
  completions/xgamma
Due: update-test-fallback-links

docs(README): Suggest using `completionsdir` as a fallback
  README.md
Due: none

docs(README): use datadir, not datarootdir in install tips
  README.md
Due: none

docs(README): include GNUInstallDirs in cmake non-pkgconfig tip
  README.md
Due: none

docs(README): include GNUInstallDirs in cmake tip only when needed
  README.md
Due: none

chore(renovate): use best-practices preset
  .github/renovate.json
Due: none

fix(ssh): consider the "door" indicator in "ls -F" on Solaris
  completions/ssh
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-fallback-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
