Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(_comp_count_args): skip reassembling cword and words
  completions/chmod
  completions/chown
  completions/cryptsetup
  completions/hcitool
  completions/mkinitrd
  completions/patch
  completions/quota
  completions/zopflipng
Due: none

fix(_comp_count_args): exclude <>& from wordbreaks as _comp_initialize
  bash_completion
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

refactor(_comp_count_args): pass arguments through options
  bash_completion
  completions/7z
  completions/arp
  completions/chmod
  completions/chown
  completions/cryptsetup
  completions/gpgv
  completions/ifup
  completions/jq
  completions/jsonschema
  completions/nc
  completions/nslookup
  completions/sh
  completions/ssh
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

fix(_comp_compgen): do not inherit -a for explicitly specified var
  bash_completion
  test/t/unit/test_unit_compgen.py
Due: update-test-cmd-list, mypy

refactor: rename `{ => _comp_compgen}_services`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/chkconfig
Due: none

refactor: rename `_{ => comp}_expand_tilde{_by_ref => }`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/mutt
  completions/sbopkg
  completions/slapt-get
  completions/slapt-src
  test/t/unit/Makefile.am
  test/t/unit/test_unit_expand_tilde.py
Due: update-test-cmd-list, mypy

refactor: rename `{ => _comp_compgen}_variables`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

feat(_comp_compgen_known_hosts): return 2 on usage error
  bash_completion
Due: none

refactor: rename `_{bash => }comp_try_faketty`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/postfix
Due: none

refactor: rename `{ => _comp}_expand`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/povray
  completions/rsync
  completions/ssh
  completions/sshfs
  test/t/unit/test_unit_expand.py
Due: update-test-cmd-list, mypy

refactor: rename `{ => _comp_compgen}_shells`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_chsh
  completions/_su
  completions/luseradd
  completions/mussh
  completions/screen
  completions/useradd
  completions/usermod
Due: update-test-deprecated-links

fix(_comp_compgen_known_hosts): work around bash-4.2 nounset
  bash_completion
Due: none

fix(_comp_sysvdirs): work around nounset
  bash_completion
Due: none

style: remove function end comments
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

feat(crc): add 3rd-party completion loader (cobra)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(oc): add 3rd-party completion loader (cobra)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(tkn): add 3rd-party completion loader (cobra)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(tkn-pac): add 3rd-party completion loader (cobra)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(chezmoi): add 3rd-party completion loader (cobra)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(conda): add 3rd-party completion loader (argcomplete)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(npm): add fallback 3rd-party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(pip{,3}): add fallback 3rd-party completion loader
  completions/.gitignore
  completions/Makefile.am
  completions/_pip
  test/fallback/completions/Makefile.am
  test/fallback/completions/pip
Due: update-test-deprecated-links

feat(nvm): add fallback 3rd-party completion loader
  completions/Makefile.am
  completions/_nvm
  test/fallback/completions/Makefile.am
  test/fallback/completions/nvm
Due: update-test-deprecated-links

feat(kontena): add fallback 3rd-party completion loader
  completions/Makefile.am
  completions/_kontena
  test/fallback/completions/Makefile.am
  test/fallback/completions/kontena
Due: update-test-deprecated-links

feat(jungle): add fallback 3rd-party completion loader
  completions/Makefile.am
  completions/_jungle
  test/fallback/completions/Makefile.am
  test/fallback/completions/jungle
Due: update-test-deprecated-links

fix(completions/*): work around localvar_inherit
  completions/chgrp
  completions/chown
  completions/lilo
  completions/mdadm
  completions/openssl
  completions/slapt-src
  completions/ssh
  completions/tipc
Due: none

fix(compat): find compat dir for prefix-install
  bash_completion
Due: none

fix(_comp_initialize): protect against "localvar_inherit"
  bash_completion
Due: none

fix(dmypy): protect against "localvar_inherit"
  completions/dmypy
Due: none

fix(make): typo fix in a code comment
  completions/make
Due: none

fix(_comp_split): update error message for the correct options
  bash_completion
Due: none

fix(_comp_compgen): explicitly exclude `cur` from the target variable
  bash_completion
Due: none

test(_comp__test_get_env): support uncontrolled IFS
  test/config/bashrc
Due: none

fix(_comp_get_words): empty prev if unavailable (localvar_inherit)
  bash_completion
  test/t/unit/test_unit_initialize.py
Due: update-test-cmd-list, mypy

style: align the first line to column 79
  bash_completion.d/000_bash_completion_compat.bash
  completions/acpi
  completions/apt-mark
  completions/arp
  completions/bts
  completions/pkgrm
  completions/pkgutil
  completions/uscan
Due: none

fix(_comp__init_set_up_service_completions): work around failglob
  bash_completion
Due: none

fix(mdadm,update-alternatives): fix leak variable
  completions/mdadm
  completions/update-alternatives
Due: none

refactor(sha256sum): use exit status of _comp_compgen_filedir
  completions/sha256sum
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
