Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, mypy, perlcritic, asciidoctor

.pre-commit-config.yaml:

default_stages: [commit]

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
      - id: gitlint
        stages: [commit-msg]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.4.0-1
    hooks:
      - id: shfmt-docker
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies:
          # Splitting dashes and items on separate lines is intentional,
          # enables Renovate's pip_requirements manager to update this file.
          -
            pycodestyle ==2.8.0
          -
            pyflakes ==2.4.0
          -
            flake8-bugbear ==21.4.3
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: [--filter-files, --settings-path=test/setup.cfg]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          -
            venv-run ==0.1.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.24.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20210717"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.140.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: 0.9.0
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: local
    hooks:
      - id: asciidoctor
        name: asciidoctor
        language: docker_image
        entry: asciidoctor/docker-asciidoctor:1.15 asciidoctor
        args:
          - --out-file
          - /dev/null
          - --failure-level
          - WARN
          - --doctype
          - book
          - doc/main.txt
        pass_filenames: false
        files: ^doc/.*\.txt$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.0.11
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

chore(deps): update actions/setup-python action to v3
  .github/workflows/ci.yaml
Due: none

chore(deps): update googlecloudplatform/release-please-action action to v3
  .github/workflows/ci.yaml
Due: none

chore(deps): update mypy to v0.941
  test/requirements-dev.txt
Due: none

ci(release-please): remove branch from pull request title
  .github/workflows/ci.yaml
Due: none

test: fix mypy 0.940 new findings
  test/t/conftest.py
Due: update-test-cmd-list, mypy

chore(deps): update actions/cache action to v3
  .github/workflows/ci.yaml
Due: none

chore(deps): update black to v22.3.0
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

_known_hosts_real: added host-exclusion-patterns and docs
  bash_completion
  doc/bash_completion.txt
Due: asciidoctor

_known_hosts_real: support comments and whitespace lines in host-exclusion-patterns
  bash_completion
  doc/bash_completion.txt
Due: asciidoctor

_known_hosts_real: support other RE languages in host-exclusion-patterns
  bash_completion
  doc/bash_completion.txt
Due: asciidoctor

bash_completion.sh: enable host-exclusion-patterns when config files exist
  bash_completion.sh.in
Due: none

_known_hosts_real: improve invalid pattern handling for host-exclusion-patterns
  bash_completion
Due: none

chore(pre-commit): update jackdewinter/pymarkdown to v0.9.6
  .pre-commit-config.yaml
Due: none

_known_hosts_real: fix host-exclusion-patterns when nothing to exclude
  bash_completion
Due: none

docs: convert to markdown, remove some no longer relevant sections
  .gitignore
  .pre-commit-config.yaml
  doc/Makefile.am
  doc/bash_completion.txt
  doc/configuration.md
  doc/main.txt
  doc/makeHtml.sh
  doc/styleguide.md
  doc/testing.md
Due: asciidoctor

refactor(xinetd): rename `BASHCOMP_XINETDDIR` to `_comp_test_xinetd_dir`
  bash_completion
  test/t/unit/test_unit_xinetd_services.py
Due: update-test-cmd-list, mypy

refactor(test): use `_comp_test_` prefix for saved env variables
  test/t/conftest.py
Due: update-test-cmd-list, mypy

refactor(test): use `BASH_COMPLETION_TEST_` prefix for control variables
  test/t/conftest.py
Due: update-test-cmd-list, mypy

refactor(tar): rename `BASHCOMP_TAR_OPT_DEBUG` to `_comp_cmd_tar_debug`
  completions/tar
Due: none

refactor: rename `COMP_IWLIST_SCAN` `BASH_COMPLETION_CMD_IWCONFIG_SCAN`
  completions/iwconfig
  doc/configuration.md
  test/config/bashrc
Due: none

refactor: `COMP_FILEDIR_FALLBACK` to `BASH_COMPLETION_FILEDIR_FALLBACK`
  bash_completion
  doc/configuration.md
  test/config/bashrc
Due: none

refactor: `COMP_CONFIGURE_HINTS` to `BASH_COMPLETION_CMD_CONFIGURE_HINTS
  completions/configure
  doc/configuration.md
  test/config/bashrc
Due: none

refactor: `COMP_CVS_REMOTE` to `BASH_COMPLETION_CMD_CVS_REMOTE`
  completions/cvs
  doc/configuration.md
  test/config/bashrc
Due: none

refactor: `BASH_COMPLETION_CMD_TAR_INTERNAL_PATHS`
  completions/tar
  doc/configuration.md
  test/config/bashrc
Due: none

refactor: `BASH_COMPLETION_KNOWN_HOSTS_WITH_HOSTFILE`
  bash_completion
  doc/configuration.md
  test/config/bashrc
  test/t/unit/test_unit_known_hosts_real.py
Due: update-test-cmd-list, mypy

refactor: `BASH_COMPLETION_KNOWN_HOSTS_WITH_AVAHI`
  bash_completion
  doc/configuration.md
Due: none

docs(environment): group variables to general, then command specific
  doc/configuration.md
Due: none

refactor(xinetd): `_comp_test_xinetd_dir` to `_comp__test_xinetd_dir`
  bash_completion
  test/t/unit/test_unit_xinetd_services.py
Due: update-test-cmd-list, mypy

refactor(tar): `_comp_cmd_tar_debug` to `_comp_cmd_tar__debug`
  completions/tar
Due: none

refactor(test): `_comp_test_*` to `_comp__test_*`
  test/t/conftest.py
Due: update-test-cmd-list, mypy

refactor(scp): `_scp_path_esc` to `_comp_cmd_scp__path_esc`
  completions/ssh
  test/t/test_rsync.py
  test/t/test_ssh_copy_id.py
  test/t/test_sshfs.py
  test/t/unit/test_unit_get_cword.py
Due: update-test-cmd-list, mypy

refactor(tshark): `_tshark_*` vars to `_comp_cmd_tshark__*`
  completions/tshark
  test/t/test_tshark.py
Due: update-test-cmd-list, mypy

docs(configuration): refer to non exported variables as shell ones
  doc/configuration.md
Due: none

ci(renovate): use loose versioning for scop/pre-commit-shfmt
  renovate.json
Due: none

chore(pre-commit): update scop/pre-commit-shfmt to v3.4.3-1
  .pre-commit-config.yaml
Due: none
