Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.1.2]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies: [flake8-bugbear==20.1.4]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/timothycrosley/isort
    rev: 5.1.4
    hooks:
      - id: isort
        args: [--settings-path=test/setup.cfg]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args: [--config-file=test/setup.cfg]
        # Intentionally not run on helpers/python (support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20200619"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.138.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint

apt-mark: nounset fix
  completions/apt-mark
Due: shfmt

apt-mark: recognize deinstall as command
  completions/apt-mark
Due: shfmt

apt-mark: look for one command only
  completions/apt-mark
Due: shfmt

apt-mark: minor fixes
  completions/apt-mark
Due: shfmt

apt-mark: updated tests
  test/t/test_apt_mark.py
Due: update-test-cmd-list

apt-mark: fixed tests
  test/fixtures/apt-mark/example.conf
  test/t/test_apt_mark.py
Due: update-test-cmd-list

test: fix apt-mark --file= test
  test/t/test_apt_mark.py
Due: update-test-cmd-list

apt-mark: complete installed packages only
  completions/apt-mark
Due: shfmt

apt-mark: improve auto, manual, and unhold completions
  completions/apt-mark
Due: shfmt

apt-mark: new completion (#398)
  completions/Makefile.am
  completions/apt-mark
  test/fixtures/apt-mark/example.conf
  test/t/test_apt_mark.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

kaffeine, dragon, totem: complete with *.opus (#458)
  bash_completion
Due: shfmt

cacaxine: apply xine completion
  bash_completion
Due: shfmt

ps: fallback to _parse_usage if _parse_help yields nothing
  completions/ps
Due: shfmt

test: add basic _pgids, _pids and _pnames unit tests
  test/t/unit/Makefile.am
  test/t/unit/test_unit_pgids.py
  test/t/unit/test_unit_pids.py
  test/t/unit/test_unit_pnames.py
Due: update-test-cmd-list

_pids, _pgids, _pnames: tweak syntax for busybox compatibility
  bash_completion
Due: shfmt

Make lua completion work for different versions
  completions/lua
  completions/luac
Due: shfmt

Do requested changes
  completions/.gitignore
  completions/Makefile.am
  completions/lua
  completions/luac
Due: shfmt

mutt: extract _muttconfvar() helper
  completions/mutt
Due: shfmt

mutt: handle neomutt -Q var correctly
  completions/mutt
Due: shfmt

mutt: do not lose the + in mutt -f +foo<tab>
  completions/mutt
Due: shfmt

Split long lines
  completions/Makefile.am
Due: none

Simplify .gitignore
  completions/.gitignore
Due: none

lua, luac: install for versioned 5.0..5.4 executables too (#460)
  completions/.gitignore
  completions/Makefile.am
  completions/lua
  completions/luac
Due: shfmt

pre-commit: upgrade markdownlint to 0.25.0
  .pre-commit-config.yaml
Due: none

modinfo: add more --field/-F arg completions
  completions/modinfo
Due: shfmt

modinfo: add --basedir/-b arg completion
  completions/modinfo
Due: shfmt

.gitignores: prefix with / where appropriate, clean up some
  .gitignore
  completions/.gitignore
  test/.gitignore
  test/fixtures/ant/.gitignore
  test/fixtures/make/.gitignore
  test/fixtures/pkgtools/ports/.gitignore
Due: none

mutt: do not lose the = in mutt -f =foo<tab>
  completions/mutt
Due: shfmt

test: set builddir in env, use in pkg-config and pkgconf to fix VPATH build
  test/t/Makefile.am
  test/t/test_pkg_config.py
  test/t/test_pkgconf.py
Due: update-test-cmd-list

pre-commit: upgrade pyupgrade to 2.7.4
  .pre-commit-config.yaml
Due: none

mutt: fix lint error
  completions/mutt
Due: shfmt

test/avahi-browse: xfail if --dump-db outputs nothing
  test/t/test_avahi_browse.py
Due: update-test-cmd-list

ss: add state filter arg completion
  completions/ss
Due: shfmt

mutt: avoid non-posix regexps
  completions/mutt
Due: shfmt

mutt: improve style, expand comments
  completions/mutt
Due: shfmt

mutt: enable completions for neomutt
  completions/.gitignore
  completions/Makefile.am
  completions/mutt
  test/t/Makefile.am
  test/t/test_neomutt.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

mutt: don't forget to pass -F $muttrc to mutt
  completions/mutt
Due: shfmt

mutt: fix mutt -f =<tab>
  completions/mutt
Due: shfmt

mutt: more extensive tests
  test/fixtures/mutt/mail/bar.mbx
  test/fixtures/mutt/mail/foo.mbx
  test/fixtures/mutt/muttrc
  test/t/test_mutt.py
Due: update-test-cmd-list

test/xrandr: shfmt mock executable
  test/fixtures/xrandr/xrandr
Due: none
