Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.3.1
  entry: shfmt
  args:
  - -w
  - -s
  stages:
  - commit

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false
  stages:
  - commit

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run ==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg
  stages:
  - commit

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.140.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'
  stages:
  - commit

chore(deps): update ubuntu docker tag to v14.04.5
  test/docker/ubuntu14/Dockerfile
Due: none

chore(deps): update centos docker tag to v8
  test/docker/centos7/Dockerfile
Due: none

ci(renovate): disable Dockerfile updates
  renovate.json
Due: none

ci: drop no longer needed Go install
  .github/workflows/ci.yaml
Due: none

chore(deps): update pycodestyle to v2.8.0
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

chore(pre-commit): update flake8 to v4
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

feat: Per-user opt-out when installed system-wide
  bash_completion.sh.in
  doc/bash_completion.txt
Due: shfmt

feat(python): tweak -h output for _parse_help to find -bb
  completions/python
  test/t/test_pyston.py
  test/t/test_python.py
  test/t/test_python3.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

fix(python): make -bb replacement hack more portable
  completions/python
Due: shfmt

fix(python): nounset mode error with no -X completions
  completions/python
Due: shfmt

fix(apt-mark): nounset mode error on unknown option
  completions/apt-mark
  test/t/test_apt_mark.py
Due: shfmt, update-test-cmd-list, mypy

fix(curl): nounset mode error on unknown option
  completions/curl
  test/t/test_curl.py
Due: shfmt, update-test-cmd-list, mypy

fix(avahi-browse): nounset mode error on unknown option
  completions/avahi-browse
  test/t/test_avahi_browse.py
Due: shfmt, update-test-cmd-list, mypy

_filedir: autocomplete '?' to the latest file in a directory
  bash_completion
Due: shfmt

_filedir: make a separate routine for establishing the latest file in a directory
  bash_completion
Due: shfmt

_filedir_xspec: autocomplete '?' to the latest file in a directory
  bash_completion
Due: shfmt

chore(pre-commit): update perltidy/perltidy to v20211029
  .pre-commit-config.yaml
Due: none

Support for setfacl
  completions/setfacl
Due: shfmt

fix(ulimit): do not offer soft/hard/unlimited directly after -S or -H
  completions/ulimit
  test/t/test_ulimit.py
Due: shfmt, update-test-cmd-list, mypy

fix(ulimit): complete limits only after option that takes one
  completions/ulimit
  test/t/test_ulimit.py
Due: shfmt, update-test-cmd-list, mypy

ci(images): re-enable fedoradev build
  .github/workflows/update-docker-images.yml
Due: none

ci(fedoradev): install xargs before attempting to use it
  test/docker/fedoradev/install-packages.sh
Due: shfmt

ci: test on fedoradev again
  .github/workflows/ci.yaml
Due: none

fix(ssh): don't confuse arg counting with option args
  completions/ssh
  test/t/test_ssh.py
Due: shfmt, update-test-cmd-list, mypy

chore(pre-commit): update shellcheck-py/shellcheck-py to v0.8.0.1
  .pre-commit-config.yaml
Due: none

feat(shellcheck): complete --severity/-S args
  completions/shellcheck
  test/t/test_shellcheck.py
Due: shfmt, update-test-cmd-list, mypy

fix: address shellcheck SC2295
  bash_completion
  completions/_mount
  completions/_mount.linux
  completions/mplayer
  completions/perl
  completions/ri
  completions/svcadm
  completions/tar
Due: shfmt

fix: address shellcheck SC2294
  completions/mutt
Due: shfmt

chore(deps): update black to v21.11b1
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

feat(truncate): new completion
  completions/Makefile.am
  completions/truncate
  test/t/Makefile.am
  test/t/test_truncate.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

chore(black): add py39 and py310 to target-version
  pyproject.toml
Due: none

chore(shellcheck): enable deprecate-which
  .shellcheckrc
Due: none

chore(shellcheck): enable require-double-brackets
  .shellcheckrc
  completions/_modules
  doc/makeHtml.sh
  test/docker/entrypoint.sh
Due: shfmt

chore(shellcheck): remove disable for SC1004
  .shellcheckrc
Due: none

chore(shellcheck): enable and address SC2231
  .shellcheckrc
  bash_completion
Due: shfmt

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
