Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-fallback-links:
  name: update-test-fallback-links
  language: script
  entry: test/fallback/update-fallback-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.2.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

test(xinetd_services): mock a proper /etc/xinetd.d
  test/fixtures/_comp_compgen_xinetd_services/xinetd.d/arp
  test/fixtures/_comp_compgen_xinetd_services/xinetd.d/ifconfig
  test/t/unit/test_unit_xinetd_services.py
Due: update-test-cmd-list, mypy

feat(java): enable .java filename completion for java command
  completions/java
  test/fixtures/java/JEP330.java
  test/t/test_java.py
Due: update-test-cmd-list, mypy

fix(cargo): avoid local: can only be used in a function warning
  completions/_cargo
Due: update-test-fallback-links

docs(README): distinguish often vs. not (#1198)
  README.md
Due: none

feat(iftop): -G, -s, -L, and -o arg (non-)completions
  completions/iftop
Due: none

feat(xxd): add -n, -o, and -R arg (non-)completions
  completions/xxd
Due: none

test(ifdown,iftest): Skip if we don't have network
  test/t/test_ifdown.py
  test/t/test_ifup.py
Due: update-test-cmd-list, mypy

fix(_comp__included_ssh_config_files): ignore comments
  bash_completion
  test/fixtures/_known_hosts/.ssh/config_comment
  test/fixtures/_known_hosts/config_include
  test/t/unit/test_unit_known_hosts.py
Due: update-test-cmd-list, mypy

pkgutil: don't install on platforms where it cannot be used
  completions/Makefile.am
  configure.ac
Due: none

feat(sops): add 3rd party fallback completion loader
  completions/Makefile.am
  completions/_sops
  test/fallback/completions/Makefile.am
  test/fallback/completions/sops
Due: update-test-fallback-links

freebsd programs: don't install on platforms where it cannot be used
  completions/Makefile.am
  configure.ac
Due: none

fix(_comp_expand_glob): work around GLOBSORT in Bash 5.3
  bash_completion
Due: none

refactor(compatdir): resolve paths in a function
  bash_completion
Due: none

fix(compatdir): use _comp_expand_glob for the correct order
  bash_completion
Due: none

fix(_comp_expand_glob): set LC_COLLATE for the sorting order
  bash_completion
Due: none

test(conftest): fix bash_env_saved.set failing to set the option
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(_comp_dequote): explicitly disable failglob for nullglob test
  test/t/unit/test_unit_dequote.py
Due: update-test-cmd-list, mypy

test: update filenames and class names for unit tests
  test/t/unit/Makefile.am
  test/t/unit/test_unit_compgen_filedir.py
  test/t/unit/test_unit_compgen_ip_addresses.py
  test/t/unit/test_unit_compgen_known_hosts.py
  test/t/unit/test_unit_compgen_pgids.py
  test/t/unit/test_unit_compgen_pids.py
  test/t/unit/test_unit_compgen_pnames.py
  test/t/unit/test_unit_compgen_tilde.py
  test/t/unit/test_unit_compgen_variables.py
  test/t/unit/test_unit_compgen_xinetd_services.py
  test/t/unit/test_unit_complete_longopt.py
  test/t/unit/test_unit_get_words.py
  test/t/unit/test_unit_initialize.py
  test/t/unit/test_unit_looks_like_path.py
Due: update-test-cmd-list, mypy

test(_comp_get_words): work around failglob
  test/t/unit/test_unit_get_words.py
Due: update-test-cmd-list, mypy

build(pkgutil): don't install on non-Solaris platforms
  completions/Makefile.am
  configure.ac
Due: none

build: don't install BSD specific completions on non-BSD platforms
  completions/Makefile.am
  configure.ac
Due: none

refactor: normalize unset positions of call-once functions
  bash_completion
  completions/vncviewer
Due: none

feat(kata-runtime): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(todoist): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(nerdctl): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

chore(git): ignore config.guess and config.sub
  .gitignore
Due: none

fix: source files using absolute paths for absolute BASH_SOURCE
  bash_completion
Due: none

refactor(_comp_compgen): separate the builtin and generator calls
  bash_completion
Due: none

feat(_comp_abspath): handle ".."
  bash_completion
  test/t/unit/test_unit_abspath.py
Due: update-test-cmd-list, mypy

fix(_comp_compgen): use `compgen -V array_name` in `bash >= 5.3`
  bash_completion
Due: none

feat(feh): deassociate with xcf, pdf, dvi, txt
  completions/feh
Due: none

test(tar): Complete archives by extension
  test/t/test_tar.py
Due: update-test-cmd-list, mypy

fix(tar): Complete added files with long opts
  completions/tar
  test/t/test_tar.py
Due: update-test-cmd-list, mypy

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-fallback-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
