Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.18
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.3
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

refactor(ssh): remove outdated disable=SC2089,SC2090
  completions/ssh
Due: none

fix(scp): fix a bug that `-F<prefix>[TAB]` did not complete at all
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(scp): rename local var "_dirs{ => _}only" for consistency
  completions/ssh
Due: none

fix(_comp_command_offset): work around nounset
  bash_completion
Due: none

fix(make): work around custom IFS
  completions/make
Due: none

refactor(cppcheck): use `_comp_delimited`
  completions/cppcheck
Due: none

fix(firefox): do not split longopt argument
  completions/firefox
Due: none

fix(strings): work around nounset
  completions/strings
Due: none

refactor(openssl): prefix "-" to the generated items
  completions/openssl
Due: none

perf(_comp_delimited): add "$prefix" only when it is non-empty
  bash_completion
Due: none

fix(make,tshark): work around localvar_inherit
  completions/make
  completions/tshark
Due: none

fix(scp): fix a bug that `-F<prefix>[TAB]` did not complete at all (#1396)
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

docs(styleguide,etc): describe empty-array nounset in Bash <= 4.3
  doc/api-and-naming.md
  doc/styleguide.md
Due: none

fix(rsync,ssh,sshfs): do not generate regular files *'\' as dirs
  completions/ssh
  test/fixtures/sshfs/local_path-dir/dummy.txt
  test/fixtures/sshfs/local_path-file\
  test/t/test_sshfs.py
Due: update-test-cmd-list, mypy

feat(_comp_compgen): support `-P prefix` with auto-adjusted `cur`
  bash_completion
  doc/api-and-naming.md
  test/t/unit/test_unit_compgen.py
Due: update-test-cmd-list, mypy

fix(sshfs): work around bash-4.3 nounset
  completions/sshfs
Due: none

refactor(*): use `_comp_compgen -P`
  bash_completion
  completions/7z
  completions/_mount
  completions/_mount.linux
  completions/_umount.linux
  completions/curl
  completions/dot
  completions/gprof
  completions/kcov
  completions/lintian
  completions/protoc
  completions/ssh
  completions/strings
  completions/tshark
  completions/upgradepkg
  completions/xgamma
Due: update-test-fallback-links

fix(rsync,scp): remove file-type marks from "ls -F" properly
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

build: fix install-data-hook for bash_completion.d
  Makefile.am
  bash_completion
Due: none

feat: load compatdir from /usr/share too and install our script there
  Makefile.am
  bash_completion
Due: none

docs: add SPDX license identifier
  bash_completion
Due: none

fix(interfaces): trim @link from completions (#1393)
  bash_completion
Due: none

test(interfaces): Test completion of veth peers
  test/fixtures/shared/bin/ifconfig
  test/fixtures/shared/bin/ip
  test/t/unit/test_unit_compgen_available_interfaces.py
Due: update-test-cmd-list, mypy

TO BE REWORKED BEFORE MERGE: temporary macOS CI test config
  .github/workflows/ci.yaml
Due: none

test: add macOS test script
  test/macos-script.sh
Due: none

ci(macos): Use venv instead of global install
  test/macos-script.sh
Due: none

ci: Align macos script with current linux
  .github/workflows/ci.yaml
  test/macos-script.sh
Due: none

ci: Remove if:false
  .github/workflows/ci.yaml
Due: none

ci(macos): Force colored output
  .github/workflows/ci.yaml
Due: none

ci: Don't move to /work
  test/macos-script.sh
Due: none

REMOVE BEFORE MERGE: ignore errors for rmtree
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(make): Move file deletion to a fixture
  test/t/test_make.py
Due: update-test-cmd-list, mypy

test(macos): Don't delete extra_makefile on macos
  test/t/test_make.py
Due: update-test-cmd-list, mypy

test(glob): Normalize some strings to compare
  test/t/unit/test_unit_expand_glob.py
Due: update-test-cmd-list, mypy

test(vipw): Drop exception for macos
  test/t/test_vipw.py
Due: update-test-cmd-list, mypy

DEBUG: test ps output
  test/t/test_ps.py
Due: update-test-cmd-list, mypy

fix(patch, truncate): Get help correctly on macos
  completions/patch
  completions/truncate
Due: none

DEBUG: tar set -x
  .github/workflows/ci.yaml
  completions/tar
Due: none

fix(tmux): fix usage parsing with git master tmux (#1381)
  completions/tmux
  test/t/test_tmux.py
Due: update-test-cmd-list, mypy

fix: completion generation inside $()
  bash_completion
  test/t/unit/test_unit_command_substitution.py
Due: update-test-cmd-list, mypy
