Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run ==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

ci(gitlint): simplify setup, run outside pre-commit
  .github/renovate.json
  .github/requirements.txt
  .github/workflows/ci.yaml
Due: none

chore(pre-commit): remove rendundant gitlint stage
  .pre-commit-config.yaml
Due: none

test(python): switch linting to Ruff
  .github/renovate.json
  .pre-commit-config.yaml
  doc/testing.md
  pyproject.toml
  test/requirements-dev.txt
  test/setup.cfg
Due: none

chore(python): remove unnecessary `noqa`
  helpers/python
Due: none

ci(renovate): use `enablePreCommit` preset
  .github/renovate.json
Due: none

ci(renovate): use regex manager for pre-commit `additional_dependencies`
  .github/renovate.json
  .github/requirements.txt
  .pre-commit-config.yaml
  test/requirements-dev.txt
  test/requirements.txt
Due: none

ci(renovate): match `requirements*.txt` anywhere in the tree
  .github/renovate.json
Due: none

ci(renovate): sort managers alphabetically
  .github/renovate.json
Due: none

refactor(_xm): remove unused `_xen_domain_ids`
  completions/_xm
Due: update-test-deprecated-links

refactor(_*): apply current naming guidelines
  completions/_adb
  completions/_cal
  completions/_chsh
  completions/_dmesg
  completions/_eject
  completions/_hexdump
  completions/_hwclock
  completions/_ionice
  completions/_look
  completions/_mock
  completions/_modules
  completions/_mount
  completions/_mount.linux
  completions/_newgrp
  completions/_nmcli
  completions/_op
  completions/_renice
  completions/_repomanage
  completions/_reptyr
  completions/_rfkill
  completions/_rtcwake
  completions/_slackpkg
  completions/_su
  completions/_svn
  completions/_svnadmin
  completions/_svnlook
  completions/_udevadm
  completions/_umount
  completions/_umount.linux
  completions/_xm
  completions/_yum
Due: update-test-deprecated-links

docs(api-and-naming): note deprecated files having private API
  doc/api-and-naming.md
Due: none

fix(_umount.linux): fallout from naming changes
  completions/_umount.linux
Due: update-test-deprecated-links

test(umount): apply naming changes here, too
  test/t/test_umount.py
Due: update-test-cmd-list, mypy

refactor: ground work for shipping depreated things in a separate file
  Makefile.am
  bash_completion
  bash_completion.d/000_bash_completion_compat
  test/config/bashrc
Due: none

feat(bash_completion.d): load from one relative to the main script
  bash_completion
  doc/configuration.md
Due: none

fix(xfunc ssh scp_local_files): fix for failglob
  completions/ssh
Due: none

fix(xfunc ssh scp_remote_files): protect against failglob
  completions/ssh
Due: none

fix(ssh): protect against localvar_inherit
  completions/ssh
Due: none

fix(ssh): protect against word splitting
  completions/ssh
Due: none

chore(typos): don't correct `helo`
  .typos.toml
Due: none

chore(pre-commit/update-deprecated-links): exclude untracked files
  test/deprecated/update-deprecated-links
Due: none

chore(update-{deprecated-links,test-cmd-list},runLint): update shebang
  test/deprecated/update-deprecated-links
  test/runLint
  test/update-test-cmd-list
Due: none

fix(compat): checking non-empty `$BASH_COMPLETION_COMPAT_DIR`
  bash_completion
Due: none

fix(tar): fix access of the global variable `basic_tar`
  completions/tar
Due: none

fix(cpan2dist): fix leaked variable `dir`
  completions/cpan2dist
Due: none

refactor(bash_completion): avoid [[ -v var ]] for localvar_inherit
  bash_completion
Due: none

fix(cvs): fix localvar_inherit
  completions/cvs
Due: none

fix: work around localvar_inherit for [[ -v var ]]
  bash_completion
  completions/_adb
  completions/_chsh
  completions/_op
  completions/_udevadm
  completions/_yum
  completions/apt-build
  completions/apt-cache
  completions/apt-get
  completions/apt-mark
  completions/aptitude
  completions/carton
  completions/cpan2dist
  completions/cvs
  completions/dmypy
  completions/gcc
  completions/getent
  completions/ip
  completions/ipmitool
  completions/java
  completions/koji
  completions/make
  completions/mdtool
  completions/mr
  completions/pkg-get
  completions/pkgutil
  completions/secret-tool
  completions/svcadm
  completions/sysbench
  completions/tar
  completions/ulimit
  completions/upgradepkg
  completions/useradd
  completions/usermod
  completions/wtf
  completions/xrandr
Due: update-test-deprecated-links

fix(_known_hosts): work around localvar_inherit
  bash_completion
Due: none

fix(wtf): fix for missing optarg
  completions/wtf
Due: none

refactor: normalize from var='' to var=""
  bash_completion
  completions/dpkg
  test/t/unit/test_unit_variables.py
Due: update-test-cmd-list, mypy

fix(cvs): fix argument parsing (regression by d0a0eb597)
  completions/cvs
Due: none

refactor(completions/*): avoid [[ -v var ]] for localvar_inherit
  completions/_adb
  completions/_chsh
  completions/_op
  completions/_udevadm
  completions/_yum
  completions/apt-build
  completions/apt-cache
  completions/apt-get
  completions/apt-mark
  completions/aptitude
  completions/carton
  completions/cpan2dist
  completions/cvs
  completions/dmypy
  completions/gcc
  completions/getent
  completions/ip
  completions/ipmitool
  completions/java
  completions/koji
  completions/make
  completions/mdtool
  completions/mr
  completions/pkg-get
  completions/pkgutil
  completions/secret-tool
  completions/svcadm
  completions/sysbench
  completions/tar
  completions/ulimit
  completions/upgradepkg
  completions/useradd
  completions/usermod
  completions/wtf
  completions/xrandr
Due: update-test-deprecated-links

refactor: `{ => _comp}{_upvars,_get_comp_words_by_ref,...}`
  bash_completion
  bash_completion.d/000_bash_completion_compat
  test/t/unit/test_unit_get_comp_words_by_ref.py
Due: update-test-cmd-list, mypy

refactor: avoid using deprecated `_get_[pc]word`
  completions/ssh
  completions/xsltproc
  test/t/test_umount.py
  test/t/unit/test_unit_filedir.py
  test/t/unit/test_unit_get_comp_words_by_ref.py
  test/t/unit/test_unit_ip_addresses.py
Due: update-test-cmd-list, mypy

refactor(_get_pword): move _get_pword into bash_completion_compat
  bash_completion
  bash_completion.d/000_bash_completion_compat
Due: none

chore(shfmt,shellcheck): include `bash_completion.d/###_*`
  .pre-commit-config.yaml
  bash_completion.d/000_bash_completion_compat
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
