Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run ==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

refactor: simplify function names of the `_comp_get_comp_words` family
  bash_completion
  bash_completion.d/000_bash_completion_compat
  completions/ssh
  test/t/test_umount.py
  test/t/unit/Makefile.am
  test/t/unit/test_unit_filedir.py
  test/t/unit/test_unit_get_words.py
  test/t/unit/test_unit_ip_addresses.py
Due: update-test-cmd-list, mypy

refactor: name files `*.bash` in in-tree `bash_completion.d/`
  .pre-commit-config.yaml
  Makefile.am
  bash_completion.d/000_bash_completion_compat.bash
Due: none

feat(__load_completion): localize default `$IFS`
  bash_completion
Due: none

feat(gh): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_gh
  test/fallback/completions/Makefile.am
  test/fallback/completions/gh
Due: update-test-deprecated-links

feat(golangci-lint): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_golangci-lint
  test/fallback/completions/Makefile.am
  test/fallback/completions/golangci-lint
Due: update-test-deprecated-links

feat(hugo): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(upctl): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(sshi): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(vacuum): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(yq): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_yq
  test/fallback/completions/Makefile.am
  test/fallback/completions/yq
Due: update-test-deprecated-links

feat(ruff): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_ruff
  test/fallback/completions/Makefile.am
  test/fallback/completions/ruff
Due: update-test-deprecated-links

feat(rustup): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_rustup
  test/fallback/completions/Makefile.am
  test/fallback/completions/rustup
Due: update-test-deprecated-links

feat(cargo): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_cargo
  test/fallback/completions/Makefile.am
  test/fallback/completions/cargo
Due: update-test-deprecated-links

feat(__load_completion): pass backslashless command to fallback loads
  bash_completion
Due: none

feat(python,pyvenv): 3.12 support
  completions/.gitignore
  completions/Makefile.am
  completions/python
  completions/pyvenv
Due: none

feat(kn): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

refactor(completions/*): ensure quoting for `compgen -W '${arr[@]}'`
  completions/ccze
  completions/complete
  completions/crontab
  completions/curl
  completions/cvs
  completions/dpkg
  completions/hunspell
  completions/ipmitool
  completions/mplayer
  completions/mysql
  completions/nslookup
  completions/pkg-get
  completions/pkgadd
  completions/pkgutil
  completions/rpm
  completions/screen
  completions/ssh
  completions/tipc
  completions/tune2fs
  completions/update-rc.d
  completions/vpnc
  completions/wodim
Due: none

fix(minicom): fix broken double quotation
  completions/minicom
Due: none

fix(_comp_delimited,cvs): add guards against `set -o nounset`
  bash_completion
  completions/cvs
Due: none

refactor(pkgadd): fix various problems
  completions/pkgadd
Due: none

fix(minicom): do not generate empty completions
  completions/minicom
Due: none

refactor(lintian): remove unused variable `match`
  completions/lintian
Due: none

refactor: use `eval` instead of tweaking POSIX mode in 3rd party loaders
  completions/_cargo
  completions/_gh
  completions/_golangci-lint
  completions/_ruff
  completions/_rustup
  completions/_yq
Due: update-test-deprecated-links

test(runLint): add check for touching POSIX mode
  test/runLint
Due: none

perf(__parse_options): do not set noglob inside __parse_options
  bash_completion
Due: none

feat(rsync): add completion for --info values
  completions/rsync
Due: none

refactor: rename `_quote_readline_by_ref => _comp_quote_compgen`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  test/t/unit/Makefile.am
  test/t/unit/test_unit_quote_compgen.py
Due: update-test-cmd-list, mypy

refactor(_comp_quote_compgen): store result in `ret`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

refactor: deprecate `quote_readline`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  test/t/unit/test_unit_quote_compgen.py
Due: update-test-cmd-list, mypy

test(quote_compgen): add basic tests
  test/t/unit/test_unit_quote_compgen.py
Due: update-test-cmd-list, mypy

feat(inotifywait): add `--include`/`--includei` arg non-completion
  completions/inotifywait
Due: none

refactor(op): switch to fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
  completions/_op
  test/fallback/completions/Makefile.am
  test/fallback/completions/op
  test/t/Makefile.am
  test/t/test_op.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, update-test-deprecated-links, mypy

feat(vault): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_vault
  test/fallback/completions/Makefile.am
  test/fallback/completions/vault
Due: update-test-deprecated-links

feat(terraform): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
