Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-fallback-links:
  name: update-test-fallback-links
  language: script
  entry: test/fallback/update-fallback-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.2.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(rsync,ssh): do not overescape spaces in remote filenames
  completions/ssh
Due: none

fix(rsync): overescape remote paths if rsync version is < 3.2.4
  completions/rsync
  completions/ssh
  test/t/test_rsync.py
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

test(rsync,ssh): test remote filenames with spaces using mock commands
  completions/rsync
  test/t/test_rsync.py
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(rsync,ssh): do not overescape spaces in remote filenames (#910)
  completions/rsync
  completions/ssh
  test/t/test_rsync.py
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

ci(pre-commit): Run shfmt, shellcheck on fixtures
  .pre-commit-config.yaml
  test/fixtures/mount/bin/showmount
Due: none

test(scp): Add unit tests for getting remote files
  test/fixtures/scp/bin/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

feat(slabtop): new completion
  completions/Makefile.am
  completions/slabtop
  test/t/Makefile.am
  test/t/test_slabtop.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

refactor(insmod): deprecate in favor of upstream one in >= 34
  completions/.gitignore
  completions/Makefile.am
  completions/_insmod
  test/fallback/completions/Makefile.am
  test/fallback/completions/insmod
Due: update-test-fallback-links

refactor(rmmod): deprecate in favor of upstream one in >= 34
  completions/Makefile.am
  completions/_rmmod
  test/fallback/completions/Makefile.am
  test/fallback/completions/rmmmod
Due: update-test-fallback-links

refactor(modinfo): deprecate in favor of upstream one in >= 35
  completions/Makefile.am
  completions/_modinfo
  test/fallback/completions/Makefile.am
  test/fallback/completions/modinfo
Due: update-test-fallback-links

refactor(modprobe): deprecate in favor of upstream one in >= 35
  completions/Makefile.am
  completions/_modprobe
  test/fallback/completions/Makefile.am
  test/fallback/completions/modprobe
Due: update-test-fallback-links

fix(dpkg): Add missing short option -R
  completions/dpkg
Due: none

feat(uv): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(uvx): add 3rd party fallback completion loader
  completions/Makefile.am
  completions/_uvx
  test/fallback/completions/Makefile.am
  test/fallback/completions/uvx
Due: update-test-fallback-links

test: work around false positive typos
  test/t/test_cppcheck.py
  test/t/test_xgamma.py
Due: update-test-cmd-list, mypy

feat(ngrok): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(ngrok): add 3rd party fallback completion loader (#1252)
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(openssl): Stop having subcommands hardcoded
  completions/openssl
  test/t/test_openssl.py
Due: update-test-cmd-list, mypy

test(_filedir): Test files that start with ".."
  test/fixtures/_filedir/dotdot/..2016_02_01_15_04_05.123456
  test/fixtures/_filedir/dotdot/..data
  test/fixtures/_filedir/dotdot/..folder/.nothing_here
  test/t/unit/test_unit_compgen_filedir.py
  test/t/unit/test_unit_expand_glob.py
Due: update-test-cmd-list, mypy

feat(fprintd-*): new completions
  completions/.gitignore
  completions/Makefile.am
  completions/fprintd-delete
  completions/fprintd-enroll
  test/t/Makefile.am
  test/t/test_fprintd_delete.py
  test/t/test_fprintd_enroll.py
  test/t/test_fprintd_list.py
  test/t/test_fprintd_verify.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

feat: associate unzip and friends with *.vsix
  bash_completion
Due: none

refactor(mtr): deprecate our completion, upstream >= 0.88 has one
  bash_completion
  completions/Makefile.am
  completions/_mtr
  test/t/Makefile.am
  test/t/test_mtr.py
Due: update-test-cmd-list, update-test-fallback-links, mypy

feat(mfiutil): add new completion
  completions/Makefile.am
  completions/mfiutil
  test/t/Makefile.am
  test/t/test_mfiutil.py
Due: update-test-cmd-list, mypy

fix(mfiutil): fix styles and link completions/mrsasutil
  completions/Makefile.am
  completions/mfiutil
Due: none

feat(_comp_compgen_filedir,_comp_compgen_filedir_xspec): don’t suggest . and .. (#1230)
  bash_completion
  test/fixtures/_filedir/.dotfile1
  test/fixtures/_filedir/.dotfile2
  test/fixtures/_filedir/dotdot/..2016_02_01_15_04_05.123456
  test/fixtures/_filedir/dotdot/..data
  test/fixtures/_filedir/dotdot/..folder/.nothing_here
  test/t/unit/test_unit_compgen_filedir.py
  test/t/unit/test_unit_expand_glob.py
Due: update-test-cmd-list, mypy

test(rmmod): fix fallback completion symlink name
  test/fallback/completions/rmmod
Due: none

chore(pre-commit): avoid stage name deprecation warning
  .github/requirements.txt
  .pre-commit-config.yaml
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-fallback-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
