Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.6.0-1
    hooks:
      - id: shfmt-docker
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-deprecated-links
        name: update-test-deprecated-links
        language: script
        entry: test/deprecated/update-deprecated-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.247
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.1.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20210717"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.6
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.13.12
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

docs: add some missing `@since` markers
  bash_completion
Due: none

refactor: rename `{ => _comp_compgen}_kernel_versions`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/mkinitrd
  completions/modinfo
  completions/modprobe
Due: none

refactor: rename `{ => _comp_compgen}_uids`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/find
  completions/fio
  completions/genisoimage
  completions/pgrep
  completions/tune2fs
Due: none

refactor: rename `{ => _comp_compgen}_gids`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/find
  completions/fio
  completions/genisoimage
  completions/luseradd
  completions/pgrep
  completions/tune2fs
  completions/useradd
  completions/usermod
Due: none

refactor: rename `{ => _comp_compgen}_xinetd_services`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/chkconfig
  test/t/unit/test_unit_xinetd_services.py
Due: update-test-cmd-list, mypy

refactor: rename `{ => _comp_compgen}_terms`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/screen
Due: none

refactor: rename `{ => _comp_compgen}_dvd_devices`, replace by default
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_eject
  completions/growisofs
  completions/k3b
  completions/mplayer
Due: update-test-deprecated-links

refactor: rename `{ => _comp_compgen}_cd_devices`, replace by default
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_eject
  completions/k3b
  completions/mplayer
Due: update-test-deprecated-links

refactor: rename `{ => _comp_compgen}_usb_ids`, replace by default
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

test(pids,pgids): check current p(g)id in completions
  test/t/unit/test_unit_pgids.py
  test/t/unit/test_unit_pids.py
Due: update-test-cmd-list, mypy

refactor: rename `{ => _comp_compgen_kernel}_modules`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/mkinitrd
  completions/modinfo
  completions/modprobe
Due: none

refactor: rename `{ => _comp_compgen}_usergroup`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/chown
  completions/cpio
Due: none

refactor: rename `{ => _comp_compgen}_allowed_groups`, drop first arg
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_newgrp
  completions/chgrp
Due: update-test-deprecated-links

refactor: rename `{ => _comp_compgen}_fstypes`, replace by default
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_mount
  completions/_mount.linux
  completions/_umount.linux
  completions/find
Due: update-test-deprecated-links

refactor: rename `{_installed => _comp_compgen_inserted_kernel}_modules`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/modprobe
  completions/rmmod
Due: none

refactor: rename `{ => _comp_compgen}_allowed_users`, drop first arg
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_chsh
  completions/_renice
  completions/crontab
  completions/killall
  completions/passwd
  completions/qemu
  completions/strace
  completions/tcpdump
Due: update-test-deprecated-links

refactor: rename `{ => _comp_compgen}_{pids,pgids,pnames}`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_ionice
  completions/_renice
  completions/_reptyr
  completions/checksec
  completions/kcov
  completions/kill
  completions/killall
  completions/lsof
  completions/pgrep
  completions/pidof
  completions/ps
  completions/pv
  completions/pwdx
  completions/strace
  test/t/unit/test_unit_pgids.py
  test/t/unit/test_unit_pids.py
  test/t/unit/test_unit_pnames.py
Due: update-test-cmd-list, update-test-deprecated-links, mypy

refactor: rename `{ => _comp_compgen}_pci_ids`, replace by default
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

refactor: rename `_complete_as_root` to `_comp_as_root`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

fix(dict): nounset error when host/port not set
  completions/dict
  test/t/test_dict.py
Due: update-test-cmd-list, mypy

test(dict): fix test condition
  test/t/test_dict.py
Due: update-test-cmd-list, mypy

test(dict): add test for IFS
  test/t/test_dict.py
Due: update-test-cmd-list, mypy

fix(dict): protect splitting from custom IFS
  completions/dict
Due: none

refactor(known_hosts_real): use exit status of `_comp_split`
  bash_completion
Due: none

fix(_cd_devices): `/dev/cdc-*` CDC device false positives
  bash_completion
Due: none

fix(python): complete filenames for script arguments
  completions/python
Due: none

test(python): add tests for script arguments
  test/fixtures/python/bar.txt
  test/fixtures/python/foo.py
  test/t/test_python.py
Due: update-test-cmd-list, mypy

fix(known_hosts_real): use `_comp_expand_glob` to avoid failglob
  bash_completion
Due: none

fix(known_hosts_real): work around nounset
  bash_completion
Due: none

refactor(known_hosts_real): do not use COMPREPLY as a temp variable
  bash_completion
Due: none

refactor(known_hosts_real): use _comp_split for known_hosts filenames
  bash_completion
Due: none

refactor(known_hosts_real): clean up old IFS/noglob workarounds
  bash_completion
Due: none

fix(known_hosts_real): match `*.pub` instead of `*pub`
  bash_completion
Due: none

test(dict): add xfail for network
  test/t/test_dict.py
Due: update-test-cmd-list, mypy

fix(python): complete filenames for script arguments (#1018)
  completions/python
  test/fixtures/python/bar.txt
  test/fixtures/python/foo.py
  test/t/test_python.py
Due: update-test-cmd-list, mypy

fix(dict): work around bash-4.2 array nounset
  completions/dict
Due: none

fix(get_words): work around bash-4.3 connected ${v+"$@"}
  bash_completion
Due: none

feat(carton): support exec command completions
  completions/carton
Due: none
