Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v5.0.0
    hooks:
      - id: commitlint
        additional_dependencies: ["@commitlint/config-conventional@12.1.4"]
        stages: [commit-msg]
  # TODO: make commitlint happen also in CI
  # https://github.com/alessandrojcm/commitlint-pre-commit-hook/issues/36

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.3.1]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        stages: [commit]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok
        stages: [commit]

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false
        stages: [commit]

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
        stages: [commit]

  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies:
          # Splitting dashes and items on separate lines is intentional,
          # enables Renovate's pip_requirements manager to update this file.
          -
            pycodestyle ==2.7.0
          -
            pyflakes ==2.3.1
          -
            flake8-bugbear ==21.4.3
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
        stages: [commit]

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
        args: [--filter-files, --settings-path=test/setup.cfg]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          -
            venv-run ==0.1.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/
        stages: [commit]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.20.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus, --keep-percent-format]
        exclude: ^completions/
        stages: [commit]

  - repo: https://github.com/perltidy/perltidy
    rev: "20210625"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$
        stages: [commit]

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.140.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$
        stages: [commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
        stages: [commit]

  - repo: https://github.com/crate-ci/typos
    rev: v1.0.11
    hooks:
      - id: typos
        exclude: ^(CHANGES|test/(test-cmd-list\.txt|fixtures/.+))$
        stages: [commit]

Simple mono completion
  _mono
Due: none

fix(man,info): remove ineffective "_expand" calls
  completions/info
  completions/man
Due: shfmt

docs(styleguide): fix asciidoc format
  doc/styleguide.txt
Due: none

feat(ssh-keygen): sync -O options with openssh 8.4p1, FIDO arg fixes
  completions/ssh-keygen
  test/t/test_ssh_keygen.py
Due: shfmt, update-test-cmd-list, mypy

docs: remove "docs/{bashrc,inputrc}"
  doc/Makefile.am
  doc/bashrc
  doc/inputrc
Due: none

docs(*.txt): use atx rather than setext style headers
  doc/bash_completion.txt
  doc/main.txt
  doc/styleguide.txt
  doc/testing.txt
Due: none

docs(main.txt): mark preface as such
  doc/main.txt
Due: none

test(pre-commit): add asciidoctor test
  .pre-commit-config.yaml
Due: none

feat(_modules): support zstd compressed modules
  bash_completion
Due: shfmt

fix(ssh-keygen): -O application behavior
  completions/ssh-keygen
Due: shfmt

test(ssh-keygen): more -O application cases
  test/t/test_ssh_keygen.py
Due: update-test-cmd-list, mypy

feat(ssh-keygen): sync -O options with openssh 8.4p1, FIDO arg fixes (#674)
  completions/ssh-keygen
  test/t/test_ssh_keygen.py
Due: shfmt, update-test-cmd-list, mypy

New completion: stunnel
  completions/Makefile.am
  completions/stunnel
  test/t/test_stunnel.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

New completion: osslsigncode
  completions/Makefile.am
  completions/osslsigncode
  test/t/test_osslsigncode.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

docs(tar): move commentary from README to variable and implementation
  README.md
  completions/tar
  doc/bash_completion.txt
Due: shfmt

docs(README): remove `cvs` and `configure` items
  README.md
Due: none

feat(feh): complete on WebP images
  completions/feh
Due: shfmt

feat(tar): associate with *.xbps (Void Linux package)
  completions/tar
Due: shfmt

fix(tar): do not associate with *.gem.<compress-extension>
  completions/tar
Due: shfmt

fix: Properly handle environments with unset IFS
  bash_completion
  completions/7z
  completions/_umount.linux
  completions/svcadm
  test/t/unit/test_unit_unlocal.py
Due: shfmt, update-test-cmd-list, mypy

fix(rsync): improve completion by using _parse_help
  completions/rsync
  test/t/test_rsync.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

test(ubuntu14): switch Python to Pyston 2.3.1
  test/docker/ubuntu14/Dockerfile
Due: none

refactor(_umount.linux): remove unnecessary IFS setups
  completions/_umount.linux
Due: shfmt

docs(README): improve autotools/cmake recommendation
  README.md
Due: none

chore(deps): update black to v22
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

style(test): format with black 22.1.0
  test/t/unit/test_unit_filedir.py
Due: update-test-cmd-list, mypy

chore(pre-commit): update perltidy/perltidy to v20220217
  .pre-commit-config.yaml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/ci.yaml
  .github/workflows/update-docker-images.yml
Due: none
