Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v5.0.0
    hooks:
      - id: commitlint
        additional_dependencies: ["@commitlint/config-conventional@12.1.4"]
        stages: [commit-msg]
  # TODO: make commitlint happen also in CI
  # https://github.com/alessandrojcm/commitlint-pre-commit-hook/issues/36

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.3.1]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        stages: [commit]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok
        stages: [commit]

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false
        stages: [commit]

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
        stages: [commit]

  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies:
          # Splitting dashes and items on separate lines is intentional,
          # enables Renovate's pip_requirements manager to update this file.
          -
            pycodestyle ==2.7.0
          -
            pyflakes ==2.3.1
          -
            flake8-bugbear ==21.4.3
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
        stages: [commit]

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
        args: [--filter-files, --settings-path=test/setup.cfg]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          -
            venv-run ==0.1.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/
        stages: [commit]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.20.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus, --keep-percent-format]
        exclude: ^completions/
        stages: [commit]

  - repo: https://github.com/perltidy/perltidy
    rev: "20210625"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$
        stages: [commit]

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.140.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$
        stages: [commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
        stages: [commit]

  - repo: https://github.com/crate-ci/typos
    rev: v1.0.11
    hooks:
      - id: typos
        exclude: ^(CHANGES|test/(test-cmd-list\.txt|fixtures/.+))$
        stages: [commit]

feat(pylint): message ids completion
  completions/pylint
  test/t/test_pylint.py
Due: shfmt, update-test-cmd-list, mypy

feat(okular): complete with markdown files
  bash_completion
Due: shfmt

test(conftest): make cwd in @pytest.mark.bashcomp relative from fixtures
  test/t/conftest.py
Due: update-test-cmd-list, mypy

docs(contributing): note correct commit message format importance
  CONTRIBUTING.md
Due: none

ci(pre-commit): switch from action to DIY
  .github/workflows/check.yaml
Due: none

ci(pre-commit): run checks on commit messages
  .github/workflows/check.yaml
  .pre-commit-config.yaml
Due: none

ci: rename `check` to `ci`
  .github/workflows/ci.yaml
Due: none

ci(Travis): remove config
  .travis.yml
Due: none

docs(README): point CI badge at GitHub
  README.md
Due: none

ci(pre-commit): split dep install to a separate step
  .github/workflows/ci.yaml
Due: none

ci: add names to our workflow steps
  .github/workflows/ci.yaml
Due: none

fix(pylint): make message id completion work with < 2.4.0
  completions/pylint
Due: shfmt

feat(lrzip): complete long option args
  completions/lrzip
  test/t/test_lrzip.py
Due: shfmt, update-test-cmd-list, mypy

test: elaborate on `require_cmd` xfail implementation details
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(dd,nproc): use require_longopt
  test/t/test_dd.py
  test/t/test_nproc.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

test(_parse_help): add failing tests for custom options with failglob
  test/t/test_ssh_add.py
  test/t/test_ssh_keygen.py
  test/t/unit/test_unit_parse_help.py
  test/t/unit/test_unit_parse_usage.py
Due: update-test-cmd-list, mypy

fix(_parse_help): protect custom help options from pathname expansions
  bash_completion
Due: shfmt

test(dd,nproc): use require_longopt (#598)
  test/t/test_dd.py
  test/t/test_nproc.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

style(ci): remove redundant `if` expression syntax
  .github/workflows/ci.yaml
Due: none

ci: run release-please only on pushes
  .github/workflows/ci.yaml
Due: none

Add a test case for Issue 569.
  test/t/test_sudo.py
Due: update-test-cmd-list, mypy

fix(_command_offset): add missing double quotes
  test/t/test_sudo.py
Due: update-test-cmd-list, mypy

fix(_parse_help): protect word splitting from pathname expansions
  bash_completion
Due: shfmt

test(_parse_help): add failing tests for {fail,null}glob
  test/t/unit/test_unit_parse_help.py
Due: update-test-cmd-list, mypy

test(scp): add failing tests for {fail,null}glob
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

Add unit test for `_command_offset`.
  test/t/unit/test_unit_command_offset.py
Due: update-test-cmd-list, mypy

fix(scp): fix nullglob/failglob errors
  completions/ssh
Due: shfmt

style(bash_completion): prefix "_comp_" to tempvars on initialization
  bash_completion
Due: shfmt

style: explicitly specify the type of "unset" by the option "-v" or "-f"
  bash_completion
  completions/_op
  completions/crontab
  completions/cvs
  completions/dpkg
  completions/find
  completions/info
  completions/lvm
  completions/modprobe
  completions/protoc
  completions/qdbus
  completions/tar
  test/runLint
  test/t/conftest.py
  test/t/test_ls.py
  test/t/unit/test_unit_expand.py
  test/t/unit/test_unit_expand_tilde_by_ref.py
  test/t/unit/test_unit_filedir.py
  test/t/unit/test_unit_init_completion.py
  test/t/unit/test_unit_ip_addresses.py
  test/t/unit/test_unit_known_hosts_real.py
  test/t/unit/test_unit_pgids.py
  test/t/unit/test_unit_pids.py
  test/t/unit/test_unit_pnames.py
  test/t/unit/test_unit_quote_readline.py
  test/t/unit/test_unit_tilde.py
  test/t/unit/test_unit_xinetd_services.py
Due: shfmt, update-test-cmd-list, mypy

style(_service): set up completions for services in function
  bash_completion
Due: shfmt

test(mypy): set mypy_path, to find conftest
  test/setup.cfg
Due: none

fix(_command,_command_offset): missing quotes for command variables
  bash_completion
  test/t/test_sudo.py
  test/t/unit/test_unit_command_offset.py
Due: shfmt, update-test-cmd-list, mypy

chore(pre-commit): make use of `default_stages` in commit
  .pre-commit-config.yaml
Due: none
