Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.18
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.3
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

ci: Don't move to /work
  test/macos-script.sh
Due: none

ci(macos): Force colored output
  .github/workflows/ci.yaml
Due: none

test(make): Move file deletion to a fixture
  test/t/test_make.py
Due: update-test-cmd-list, mypy

test(glob): Normalize some strings to compare
  test/t/unit/test_unit_expand_glob.py
Due: update-test-cmd-list, mypy

test(macos): Don't delete extra_makefile on macos
  test/t/test_make.py
Due: update-test-cmd-list, mypy

fix(patch, truncate): Get help correctly on macos
  completions/patch
  completions/truncate
Due: none

test(vipw): Drop exception for macos
  test/t/test_vipw.py
Due: update-test-cmd-list, mypy

DEBUG: test rsync --help
  test/macos-script.sh
Due: none

REMOVE BEFORE MERGE: ignore errors for rmtree
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test: Sort completion results items
  test/t/conftest.py
  test/t/unit/test_unit_dequote.py
Due: update-test-cmd-list, mypy

test: Remove empty strings from completion results
  test/t/conftest.py
Due: update-test-cmd-list, mypy

DEBUG: show tar version
  test/macos-script.sh
Due: none

build: fix install-data-hook for bash_completion.d
  Makefile.am
  bash_completion
Due: none

docs: `shell`->`bash` MD blocks
  CONTRIBUTING.md
  README.md
Due: none

docs(CONTRIB): link to Pure-Bash-Bible
  CONTRIBUTING.md
Due: none

docs(README): show how to avoid double-source
  README.md
Due: none

rm useless back-slashes
  README.md
Due: none

docs(README): replace OG example with new alt
  README.md
Due: none

test(filedir): Workaround bug in bash 5.3
  test/t/unit/test_unit_compgen_filedir.py
Due: update-test-cmd-list, mypy

test: Don't sleep before sending data to bash
  test/t/conftest.py
Due: update-test-cmd-list, mypy

ci(renovate): Set rebaseWhen explicitly
  .github/renovate.json
Due: none

Add completion for mech-dump
  completions/mech-dump
Due: none

Add completion for keychain
  completions/keychain
Due: none

Inconflict with uutils/coreutils
  completions/_chgrp
  completions/_chmod
  completions/_chown
  completions/_dd
  completions/_env
  completions/_id
  completions/_mktemp
  completions/_nproc
  completions/_printenv
  completions/_pwd
  completions/_sha256sum
  completions/_timeout
  completions/_truncate
Due: update-test-fallback-links

fix(patch, truncate): Try getting help BSD style
  completions/patch
  completions/truncate
Due: none

docs(README): avoid double-source in example .bashrc
  README.md
Due: none

test: add macOS test script
  test/macos-script.sh
Due: none

ci: Add permissions necessary for release-please
  .github/workflows/ci.yaml
Due: none

ci(macos): add macOS CI test config
  .github/workflows/ci.yaml
Due: none

ci(macos): Align macos script with current linux
  .github/workflows/ci.yaml
  test/macos-script.sh
Due: none
