Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

refactor([k-l]*): apply API guidelines
  completions/k3b
  completions/kcov
  completions/kill
  completions/killall
  completions/kldunload
  completions/koji
  completions/ktutil
  completions/larch
  completions/lastlog
  completions/ldapsearch
  completions/ldapvi
  completions/lftp
  completions/lftpget
  completions/lilo
  completions/links
  completions/lintian
  completions/lisp
  completions/list_admins
  completions/list_lists
  completions/list_members
  completions/list_owners
  completions/locale-gen
  completions/lpq
  completions/lpr
  completions/lrzip
  completions/lsof
  completions/lspci
  completions/lsscsi
  completions/lsusb
  completions/lua
  completions/luac
  completions/luseradd
  completions/luserdel
  completions/lvm
  completions/lz4
  completions/lzip
  completions/lzma
  completions/lzop
Due: none

docs(styleguide): update quoting of `$split`
  doc/styleguide.md
Due: none

refactor(_comp_initialize): `split={true,false}` => `was_split={set,}`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

build: remove `ping4` symlink on `make clean`
  completions/Makefile.am
Due: none

refactor([q-s]*): apply API guidelines
  completions/qdbus
  completions/qemu
  completions/qrunner
  completions/querybts
  completions/quota
  completions/radvdump
  completions/rcs
  completions/rdesktop
  completions/remove_members
  completions/removepkg
  completions/reportbug
  completions/resolvconf
  completions/ri
  completions/rmlist
  completions/rmmod
  completions/route
  completions/rpcdebug
  completions/rpm
  completions/rpm2tgz
  completions/rpmcheck
  completions/rrdtool
  completions/rsync
  completions/sbcl
  completions/sbopkg
  completions/screen
  completions/scrub
  completions/secret-tool
  completions/sh
  completions/shellcheck
  completions/sitecopy
  completions/slapt-get
  completions/slapt-src
  completions/smartctl
  completions/smbclient
Due: none

refactor: `COMP_SAMBA_SCAN` -> `BASH_COMPLETION_CMD_SMBTREE_SCAN`
  completions/smbclient
Due: none

docs: for `BASH_COMPLETION_CMD_SMBTREE_SCAN`
  doc/configuration.md
Due: none

chore(gitlint): ignore fixup and squash commits
  .gitlint
Due: none

refactor: apply more guidelines where API is as desired
  completions/aspell
  completions/kldload
  completions/snownews
  completions/sqlite3
  completions/ss
  completions/ssh
  completions/ssh-add
  completions/ssh-copy-id
  completions/ssh-keygen
  completions/sshfs
  completions/sshmitm
  completions/sshow
  completions/strace
  completions/strings
  completions/sudo
  completions/svcadm
  completions/svk
  completions/sync_members
  completions/synclient
  completions/sysbench
  completions/sysctl
Due: none

docs(dpkg): update general commentary
  completions/dpkg
Due: none

refactor(ant,pkg-get,pkgutil,rpm,ssh): adjust towards current API
  completions/ant
  completions/pkg-get
  completions/pkgutil
  completions/rpm
  completions/ssh
Due: none

refactor(cd): move to `completions/`, rename `_cd` -> `_comp_cmd_cd`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/.gitignore
  completions/Makefile.am
  completions/cd
Due: none

refactor: `_longopt` -> `_comp_longopt`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/abook
  completions/pyvenv
  completions/sha256sum
  test/t/test_grep.py
  test/t/unit/test_unit_longopt.py
Due: update-test-cmd-list, mypy

refactor: `_split_longopt` -> `_comp__split_longopt`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_xm
  doc/styleguide.md
Due: update-test-deprecated-links

test(java): test `_java_find_sourcepath`
  test/t/test_java.py
Due: update-test-cmd-list, mypy

fix(java): fix `_java_find_sourcepath` to store results in array
  completions/java
Due: none

test(java): test `_comp_cmd_java__packages` for IFS/failglob/splitting
  test/t/test_java.py
Due: update-test-cmd-list, mypy

fix(java): fix `_comp_cmd_java__packages` for IFS/failglob/splitting
  completions/java
Due: none

fix(java): localize `cur` not to affect outside the function
  completions/java
Due: none

test(java): test `_comp_cmd_java__packages` for varleak
  test/t/test_java.py
Due: update-test-cmd-list, mypy

test(java): test `_comp_cmd_java__packages` for package name sep
  test/t/test_java.py
Due: update-test-cmd-list, mypy

refactor: `__ltrim_colon_completions` -> `_comp_ltrim_colon_completions`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/apt-get
  completions/chromium-browser
  completions/cvs
  completions/gphoto2
  completions/iperf
  completions/java
  completions/links
  completions/man
  completions/mplayer
  completions/nc
  completions/perl
  completions/pytest
  completions/ri
  completions/ssh-keygen
  completions/wsimport
Due: none

fix(java): fix a bug of assigning results in `cur` but not `COMPREPLY`
  completions/java
Due: none

refactor(java): rework towards current API behavior
  completions/java
Due: none

docs(_service): note why it's in the main file
  bash_completion
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
