Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(_comp_delimited): treat delimiter as a fixed string
  bash_completion
Due: none

fix(_comp_initialize): fix completions of redirections without space
  bash_completion
  test/t/unit/test_unit_initialize.py
Due: update-test-cmd-list, mypy

fix(mutt): fix use of regex in the glob context
  completions/mutt
Due: none

fix: fix problems with `set -o nounset`
  bash_completion
  completions/chromium-browser
  completions/cppcheck
  completions/cvs
  completions/smartctl
Due: none

fix(mutt): use _comp_dequote for safe eval
  completions/mutt
Due: none

fix(kcov,povray): quote array expansions to avoid extra processing
  completions/kcov
  completions/povray
Due: none

fix(mutt): rewrite ${cur/#!/X} to X${cur:1} against patsub_replacement
  completions/mutt
Due: none

fix(povray): process each element against patsub_replacement
  completions/povray
Due: none

docs(styleguide): add note on patsub_replacement
  doc/styleguide.md
  test/runLint
Due: none

fix: use compgen -P prefix -W '"${arr[@]}"' against patsub_replacement
  bash_completion
  completions/_mount.linux
  completions/_umount.linux
  completions/chromium-browser
  completions/cppcheck
  completions/cvs
  completions/info
  completions/kcov
  completions/man
  completions/povray
  completions/pylint
  completions/smartctl
  test/runLint
Due: update-test-deprecated-links

fix(mr): avoid ${var/pat/$'...'} for compat42 in bash >= 4.3
  completions/mr
  test/runLint
Due: none

fix(cryptsetup): update the list of actions
  completions/cryptsetup
  test/t/test_cryptsetup.py
Due: update-test-cmd-list, mypy

fix(cryptsetup): parse --help and man for actions
  completions/cryptsetup
Due: none

test(cryptsetup): add a skip condition
  test/t/test_cryptsetup.py
Due: update-test-cmd-list, mypy

test(cryptsetup): update the skip condition
  completions/cryptsetup
  test/t/test_cryptsetup.py
Due: update-test-cmd-list, mypy

fix(_comp_command_offset): Support complete -C
  bash_completion
  test/fixtures/_command_offset/completer
  test/t/unit/test_unit_command_offset.py
Due: update-test-cmd-list, mypy

feat(feh): associate with y4m and heic/heif/avif
  completions/feh
Due: none

feat(feh): deassociate with avci/avcs
  completions/feh
Due: none

refactor: mark deprecated config variables clearer
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/configure
  completions/cvs
  completions/iwconfig
  completions/tar
  test/t/test_cvsps.py
Due: update-test-cmd-list, mypy

fix(_comp_deprecate_func): argument order in usage error message
  bash_completion
Due: none

refactor(cvs): simplify the switching of directory
  completions/cvs
Due: none

fix(java): localize `cur`
  completions/java
Due: none

refactor(invoke-rc.d): obtain services only when needed
  completions/invoke-rc.d
Due: none

fix(kldload,mplayer,mutt): work around nounset
  completions/kldload
  completions/mplayer
  completions/mutt
Due: none

fix(mutt): avoid unexpected word splitting
  completions/mutt
Due: none

perf(mutt): return earlier on empty `cur`
  completions/mutt
Due: none

refactor(mutt): declare local variables locally
  completions/mutt
Due: none

fix(cvs,mutt,pkg_delete): quote prefix to remove for literal matching
  completions/cvs
  completions/mutt
  completions/pkg_delete
  completions/portupgrade
Due: none

refactor(reportbug): use awk to extract sources
  completions/reportbug
Due: none

perf(vncviewer): set nocasematch inside subshell
  completions/vncviewer
Due: none

refactor(dot): use exit status of _comp_compgen_filedir
  completions/dot
Due: none

fix(povray): quote an argument properly
  completions/povray
Due: none

refactor(povray): use exit status of generators
  completions/povray
Due: none

fix(wol): filter IP addresses by `cur`
  completions/wol
Due: none

fix(svcadm): fix ineffective IFS for splitting
  completions/svcadm
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
