Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.1.2]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies: [flake8-bugbear==20.1.4]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/timothycrosley/isort
    rev: 5.1.4
    hooks:
      - id: isort
        args: [--settings-path=test/setup.cfg]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args: [--config-file=test/setup.cfg]
        # Intentionally not run on helpers/python (support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20200619"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.138.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint

test/xrandr: avoid bashisms in sh mock exe, tidy up a bit
  test/fixtures/xrandr/xrandr
Due: none

test/xrandr: remove redundant cmd spec
  test/t/test_xrandr.py
Due: update-test-cmd-list

test/xrandr: append our mock dir in PATH instead of prepending, for most cases
  test/t/test_xrandr.py
Due: update-test-cmd-list

test/xrandr: run non-completion cases with possibly system xrandr
  test/t/test_xrandr.py
Due: update-test-cmd-list

xrandr: several option arg completion improvements (#451)
  completions/xrandr
  test/fixtures/xrandr/xrandr
  test/t/test_xrandr.py
Due: shfmt, update-test-cmd-list

_pids, _pgids, _pnames: whitespace tweaks
  bash_completion
Due: shfmt

test: don't care if there's output or not from pre_cmds and post_cmds
  test/t/conftest.py
Due: update-test-cmd-list

kill: complete jobs too
  completions/kill
  test/t/test_kill.py
Due: shfmt, update-test-cmd-list

make: fix sed error on FreeBSD
  completions/make
Due: shfmt

make: fix sed error on FreeBSD (#419)
  completions/make
Due: shfmt

bsdtar: complete more libarchive formats
  completions/tar
  test/fixtures/bsdtar/test.pax
  test/fixtures/bsdtar/test.rar
  test/fixtures/bsdtar/test.shar
  test/t/Makefile.am
  test/t/test_bsdtar.py
Due: shfmt, update-test-cmd-list

host, nslookup: update query types
  completions/nslookup
Due: shfmt

host: honor ipv4/ipv6 mode on server completion
  completions/nslookup
Due: shfmt

host: don't complete more than 2 positional args
  completions/nslookup
Due: shfmt

pre-commit: upgrade shfmt to 3.2.1
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade perltidy to 20201202
  .pre-commit-config.yaml
Due: none

xvfb-run package is available now, use it
  Dockerfile
Due: none

Drop diffutils, old test suite is no more
  Dockerfile
Due: none

Use py3-pexpect and py3-pytest(-xdist) packages
  Dockerfile
Due: none

Use test/test-cmd-list.txt as cache buster
  Dockerfile
Due: none

declare, typeset: split out of function completion file
  completions/.gitignore
  completions/Makefile.am
  completions/declare
  completions/function
Due: shfmt

declare: complete -a/-A with array variable names
  completions/declare
  test/t/test_declare.py
Due: shfmt, update-test-cmd-list

_variables: split out _variable_assignments, use in export
  bash_completion
  completions/export
  test/t/test_grep.py
Due: shfmt, update-test-cmd-list

declare: complete variable assignments
  completions/declare
Due: shfmt

_variable_assignments: don't leak local $i
  bash_completion
Due: shfmt

_variable_assignments: rename to _comp_variable_assignments
  bash_completion
  completions/declare
  completions/export
Due: shfmt

_comp_delimited: new helper for delimited values, use here and there
  bash_completion
  completions/fio
  completions/pgrep
  completions/ps
  completions/pylint
  completions/ss
  completions/ssh-keygen
  completions/tox
  completions/tshark
  completions/useradd
  completions/usermod
Due: shfmt

*: split/unsplit long lines
  bash_completion
  completions/pylint
  completions/useradd
  completions/usermod
Due: shfmt

_comp_variable_assignments: support LANGUAGE
  bash_completion
  completions/declare
  completions/export
Due: shfmt

pre-commit: upgrade perltidy to 20201207
  .pre-commit-config.yaml
Due: none

github: add workflow to trigger docker hub test image builds
  .github/workflows/update-docker-images.yml
Due: none

md5sum,sha{,1,224,256,384,512}sum: take -c/--check into account for filenames
  bash_completion
  completions/.gitignore
  completions/Makefile.am
  completions/sha256sum
  test/fixtures/sha256sum/foo
  test/fixtures/sha256sum/foo.sha256
  test/t/Makefile.am
  test/t/test_sha256sum.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

test: record only required commands in test-cmd-list.txt
  test/test-cmd-list.txt
  test/update-test-cmd-list
Due: shfmt

github: move pre-commit CI from Travis
  .github/workflows/check.yaml
  .travis.yml
Due: none

BSD tools moved to Debian 10 image
  install-packages.sh
Due: shfmt

Install build-essential for building BSD things
  install-packages.sh
Due: shfmt

Remove yum history and yumdb
  Dockerfile
Due: none

Remove dnf history and repos/*
  Dockerfile
Due: none

CONTRIBUTING: grammar fix
  CONTRIBUTING.md
Due: none

CONTRIBUTING: elaborate on maintainership willingness indication
  CONTRIBUTING.md
Due: none
