Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.18
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.3
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

fix(java,rsync,scp): handle quoted space in filepaths properly
  completions/java
  completions/ssh
  test/t/test_rsync.py
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(java,rsync,ssh): complete syntactically incomplete cur
  bash_completion
  completions/java
  completions/ssh
  test/fixtures/scp/local_path/backslash-a b.txt
  test/fixtures/scp/local_path/backslash-a\ b.txt
  test/t/test_scp.py
  test/t/unit/Makefile.am
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

refactor(scp): factorize common codes
  completions/ssh
Due: none

fix(scp): work around incomplete triple backslashes for remote paths
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

docs(CONTRIBUTING): discourage use of `compgen -G pat`
  CONTRIBUTING.md
Due: none

style(feh,upgradepkg,valgrind): remove unnecessary @(...)
  completions/feh
  completions/upgradepkg
  completions/valgrind
  test/runLint
Due: none

ci(fedora): Fix syntax for dnf5, don't use sbin
  test/docker/fedoradev/Dockerfile
  test/docker/fedoradev/install-packages.sh
Due: none

ci(fedora): Stop installing vpnc for now
  test/docker/fedoradev/install-packages.sh
Due: none

feat(tmux): new completion
  completions/Makefile.am
  completions/tmux
  test/t/Makefile.am
  test/t/test_tmux.py
Due: update-test-cmd-list, mypy

feat(shtab): add 3rd party fallback completion loader
  completions/Makefile.am
  completions/_shtab
  test/fallback/completions/shtab
  test/t/Makefile.am
  test/t/test_shtab.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, update-test-fallback-links, mypy

ci(fedora): Fix syntax for dnf5
  test/docker/fedoradev/Dockerfile
  test/docker/fedoradev/install-packages.sh
Due: none

ci(fedora): skip /usr/bin/vpnc (vpnc-consoleuser)
  test/docker/fedoradev/install-packages.sh
Due: none

ci: Install sshd to test against a real ssh server
  test/docker/alpine/Dockerfile
  test/docker/centos7/Dockerfile
  test/docker/debian10/Dockerfile
  test/docker/entrypoint.sh
  test/docker/fedoradev/Dockerfile
  test/docker/ubuntu14/Dockerfile
Due: none

ci: Make scp tests use localhost as LIVE_HOST
  .github/workflows/ci.yaml
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

test(docker): fix centos7 image build
  test/docker/centos7/Dockerfile
Due: none

feat(tldr): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

chore(completions/Makefile.am): sort items
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(glances): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(trash-cli): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

fix(_comp_command_offset): work around nounset
  bash_completion
Due: none

refactor(ssh): remove outdated disable=SC2089,SC2090
  completions/ssh
Due: none

fix(rsync,ssh,sshfs): do not generate regular files *'\' as dirs
  completions/ssh
  test/fixtures/sshfs/local_path-dir/dummy.txt
  test/fixtures/sshfs/local_path-file\
  test/t/test_sshfs.py
Due: update-test-cmd-list, mypy

fix(scp): fix a bug that `-F<prefix>[TAB]` did not complete at all
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(scp): use "_comp_compgen_split -P" to add prefix
  completions/ssh
Due: none

fix(rsync,scp): remove file-type marks from "ls -F" properly
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

refactor(scp): rename local var "_dirs{ => _}only" for consistency
  completions/ssh
Due: none

test(cancel,ls,man): remove redundant "return"
  test/t/test_cancel.py
  test/t/test_ls.py
  test/t/test_man.py
Due: update-test-cmd-list, mypy

[waiting for PR1371]
  bash_completion
  completions/ssh
  test/fixtures/sshfs/local_path-dir/dummy.txt
  test/fixtures/sshfs/local_path-file\
  test/t/test_cancel.py
  test/t/test_ls.py
  test/t/test_man.py
  test/t/test_scp.py
  test/t/test_sshfs.py
Due: update-test-cmd-list, mypy

fix(_comp_dequote): set the literal value to REPLY as a fallback
  bash_completion
  completions/java
  completions/make
  completions/mutt
  completions/pkgutil
  completions/ssh
  test/t/unit/test_unit_dequote.py
Due: update-test-cmd-list, mypy

test(scp): leave comments for a failing test case
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

test(dequote{,_incomplete}): use raw stringliteral r""
  test/t/unit/test_unit_dequote.py
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

refactor(ssh): accept dironly flag as an option
  completions/ssh
Due: none
