Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.16
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.18.0
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

allow completion of remote scp directories and files
  bash_completion
  completions/ssh
Due: none

simplify cryptsetup
  completions/cryptsetup
Due: none

cryptsetup: add file completions to header option
  completions/cryptsetup
Due: none

test(perldoc): Test if real perldoc command exists
  test/t/test_perldoc.py
Due: update-test-cmd-list, mypy

style(test): reformat with ruff 0.3.0
  test/t/conftest.py
Due: update-test-cmd-list, mypy

ci(lint): add shell linter - Differential ShellCheck
  .github/workflows/ci.yaml
Due: none

fix(Makefile): include api-and-naming.md in dist
  doc/Makefile.am
  doc/api-and-naming.md
Due: none

feat(ip): Add completion for netconf subcommand
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

fix(available_interfaces): fix regression of unwanted trailing colons
  bash_completion
  test/t/unit/Makefile.am
  test/t/unit/test_unit_compgen_available_interfaces.py
Due: update-test-cmd-list, mypy

test: add missing files in `test/t/unit/Makefile.am`
  test/t/unit/Makefile.am
  test/t/unit/test_unit_load.py
Due: update-test-cmd-list, mypy

test: fix test for `_comp_load`
  test/fixtures/_comp_load/bin/cmd1
  test/fixtures/_comp_load/bin/cmd2
  test/t/unit/test_unit_load.py
Due: update-test-cmd-list, mypy

feat(ip): Create function to get link types
  completions/ip
Due: none

feat(ip): Complete link types for address show
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

fix(ip): Complete ip delete with type correctly
  completions/ip
Due: none

fix(ip): Complete more variations of subcommands
  completions/ip
Due: none

feat(curl): Complete protocols for --proto-default
  completions/curl
  test/t/test_curl.py
Due: update-test-cmd-list, mypy

feat(ip): Complete ip link property
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

fix(ip): Quote network namespace names
  completions/ip
Due: none

feat(ip): Complete commands for netns exec
  completions/ip
Due: none

fix(ip): Keep completing after -netns name
  completions/ip
Due: none

fix(ip): Complete netns attach subcommand
  completions/ip
Due: none

feat(ip): Complete help for unknown subcommands
  completions/ip
Due: none

feat(xmllint): also suggest *.rss files
  completions/xmllint
Due: none

fix(ip): make addrlabel flush, list not complete
  completions/ip
Due: none

feat(ip): Complete neigh show and flush
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

feat(ip): Complete stats subcommand
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

fix(ip): Quote all instantiation of ip as "$1"
  completions/ip
Due: none

feat(xmllint,xmlwf): also suggest *.rss files
  completions/xmllint
  completions/xmlwf
Due: none

feat(rg): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_rg
  test/fallback/completions/rg
Due: update-test-fallback-links
