Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.6.0-1
    hooks:
      - id: shfmt-docker
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-deprecated-links
        name: update-test-deprecated-links
        language: script
        entry: test/deprecated/update-deprecated-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.247
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.1.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20210717"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.6
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.13.12
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

refactor(ARRAY): explicitly specify type to `unset`
  completions/ARRAY
Due: none

refactor(_comp_compact): simplify
  completions/ARRAY
Due: none

fix(_comp_{last_index,index_of})!: return result through `ret`
  completions/ARRAY
Due: none

refactor(xfunc ARRAY filter): separate predicate
  completions/ARRAY
Due: none

feat(_comp_index_of): support options
  completions/ARRAY
Due: none

fix(gnokii): escape ERE special characters in constructed regex
  completions/gnokii
Due: none

fix(_comp_compgen): update code comments
  bash_completion
Due: none

fix(dpkg-source,pkgadd): remove redundant "_filedir -d"
  completions/dpkg-source
  completions/pkgadd
Due: none

fix(lintian,python,smartctl): return when completions are generated
  completions/lintian
  completions/python
  completions/smartctl
Due: none

refactor: rename `{ => _comp_compgen}_filedir`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  test/t/unit/test_unit_filedir.py
  test/t/unit/test_unit_quote_compgen.py
Due: update-test-cmd-list, mypy

feat(_comp_compgen): inherit options inside _comp_compgen NAME
  bash_completion
Due: none

refactor: `{ => _comp_compgen}_tilde` with interface changes
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/bzip2
  completions/gzip
  completions/lrzip
  completions/lz4
  completions/lzma
  completions/lzop
  completions/xz
  completions/zopfli
  test/t/unit/test_unit_tilde.py
Due: update-test-cmd-list, mypy

refactor(_comp_initialize): remove -a for filedir
  bash_completion
Due: none

feat(_comp_compgen_set): add a function to just store values
  bash_completion
Due: none

refactor([2-_]*): remove -a for filedir
  completions/2to3
  completions/7z
  completions/_adb
  completions/_chsh
  completions/_hexdump
  completions/_hwclock
  completions/_mock
  completions/_mount.linux
  completions/_repomanage
  completions/_slackpkg
  completions/_svn
  completions/_svnadmin
  completions/_svnlook
  completions/_udevadm
  completions/_xm
  completions/_yum
Due: update-test-deprecated-links

refactor: use _comp_compgen -c for filedir
  completions/_udevadm
  completions/badblocks
  completions/cryptsetup
  completions/curl
  completions/dd
  completions/dnssec-keygen
  completions/dot
  completions/dumpe2fs
  completions/e2freefrag
  completions/e2label
  completions/export
  completions/gprof
  completions/growisofs
  completions/hddtemp
  completions/java
  completions/kcov
  completions/lilo
  completions/lvm
  completions/mdadm
  completions/mplayer
  completions/mutt
  completions/nsupdate
  completions/perltidy
  completions/povray
  completions/protoc
  completions/smartctl
  completions/ssh
  completions/ssh-keygen
Due: update-test-deprecated-links

fix(ebtables,iptables): work around localvar_inherit
  completions/ebtables
  completions/iptables
Due: none

fix(cd,mplayer): use _comp_{split,compgen}
  completions/cd
  completions/mplayer
Due: none

fix(autotools): quote words
  completions/aclocal
  completions/autoconf
  completions/automake
  completions/autoreconf
Due: none

feat(mdbook): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_mdbook
  test/fallback/completions/Makefile.am
  test/fallback/completions/mdbook
Due: update-test-deprecated-links

feat(starship): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(diesel): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(tokio-console): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_tokio-console
  test/fallback/completions/Makefile.am
  test/fallback/completions/tokio-console
Due: update-test-deprecated-links

feat(watchexec): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(flamegraph): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_flamegraph
  test/fallback/completions/Makefile.am
  test/fallback/completions/flamegraph
Due: update-test-deprecated-links

feat(deno): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

fix(ebtables,iptables): quote table name
  completions/ebtables
  completions/iptables
Due: none

fix(reportbug,ypmatch): quote arguments
  completions/reportbug
  completions/ypmatch
Due: none

fix(dict,invoke-rc.d,koji,pkg-config,qdbus): quote arguments
  completions/dict
  completions/invoke-rc.d
  completions/koji
  completions/pkg-config
  completions/qdbus
Due: none

fix(xgamma): avoid unexpected expansion by -W
  completions/xgamma
Due: none

fix(carton,gssdp-discover,influx): use normal IFS
  completions/carton
  completions/gssdp-discover
  completions/influx
Due: none

style: spelling and grammar fixes
  bash_completion
  completions/chown
Due: none

fix(filedir): avoid variable name conflicts
  bash_completion
Due: none

docs(_comp_compgen): note `_comp_compgen_NAME` vs `_comp_compgen NAME`
  bash_completion
Due: none

fix(puppet,valgrind): work around localvar_inherit
  completions/puppet
  completions/valgrind
Due: none
