Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.1.2]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies: [flake8-bugbear==20.1.4]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/timothycrosley/isort
    rev: 5.1.4
    hooks:
      - id: isort
        args: [--settings-path=test/setup.cfg]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args: [--config-file=test/setup.cfg]
        # Intentionally not run on helpers/python (support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20200619"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.138.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint

extra/make-changelog: check and output usage message
  extra/make-changelog.py
Due: none

Release 2.11
  CHANGES
  bash_completion
  configure.ac
Due: shfmt

README.md: completion file naming doc improvements
  README.md
Due: none

Allow completion of farbfeld images in feh
  completions/feh
Due: shfmt

feh: complete farbfeld images (#433)
  completions/feh
Due: shfmt

pre-commit: upgrade isort to 5.3.0
  .pre-commit-config.yaml
Due: none

checksec: handle = option arg separator
  completions/checksec
Due: shfmt

checksec: complete --format/--output arg
  completions/checksec
Due: shfmt

Add prototype ps completion
  completions/Makefile.am
  completions/ps
Due: shfmt

fix issue #436 Color-Bug if ip is an alias
  bash_completion
  completions/wol
Due: shfmt

pre-commit: upgrade isort to 5.3.2
  .pre-commit-config.yaml
Due: none

scp: fix unbound variable error on remote file completion
  completions/ssh
Due: shfmt

xfreerdp: fix --help and friends non-completion
  completions/xfreerdp
Due: shfmt

xfreerdp: complete with *.rdp
  completions/xfreerdp
  test/t/test_xfreerdp.py
Due: shfmt, update-test-cmd-list

pre-commit: upgrade isort to 5.4.1
  .pre-commit-config.yaml
Due: none

ssh: query for -Q arguments primarily
  completions/ssh
Due: shfmt

ssh: fix cipher and mac fallbacks
  completions/ssh
Due: shfmt

ssh: update known options list
  completions/ssh
Due: shfmt

remove subshell for ip completion
  bash_completion
Due: shfmt

remove brackets in completions/wol
  completions/wol
Due: shfmt

Add minimal ps tests
  test/t/Makefile.am
  test/t/test_ps.py
Due: update-test-cmd-list

Add more ps tests
  test/t/test_ps.py
Due: update-test-cmd-list

pre-commit: upgrade isort to 5.4.2
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade perltidy to 20200822
  .pre-commit-config.yaml
Due: none

pre-commit, test: upgrade black to 20.8b1, reformat with/tweak forw it
  .pre-commit-config.yaml
  test/requirements-dev.txt
  test/t/conftest.py
  test/t/test_dpkg_query.py
  test/t/test_secret_tool.py
  test/t/unit/test_unit_count_args.py
  test/t/unit/test_unit_expand_tilde_by_ref.py
Due: update-test-cmd-list

test: default Travis to dist: focal
  .travis.yml
Due: none

test: use go 1.15 in Travis lint
  .travis.yml
Due: none

test: show diff on Travis lint failure
  .travis.yml
Due: none

test: sort test-cmd-list.txt in C locale
  test/test-cmd-list.txt
  test/update-test-cmd-list
Due: shfmt

tar: avoid unbound variable error on list when tarball not set
  completions/tar
Due: shfmt

pre-commit: upgrade isort to 5.5.1
  .pre-commit-config.yaml
Due: none

add of -c=never in completions/ip (fix for color-bug #439)
  completions/ip
Due: shfmt

avahi-browse: new completion
  completions/.gitignore
  completions/Makefile.am
  completions/avahi-browse
  test/t/Makefile.am
  test/t/test_avahi_browse.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list

python, pyvenv: install for 3.9
  completions/Makefile.am
  completions/python
  completions/pyvenv
Due: shfmt

add in completions/ip some {, } and 2>&1 (see #439)
  completions/ip
Due: shfmt

ip: output redirection fixes
  completions/ip
Due: shfmt

ip: avoid colored output interference
  bash_completion
  completions/ip
  completions/wol
Due: shfmt

pre-commit: upgrade perltidy to 20200907
  .pre-commit-config.yaml
Due: none

pre-commit: upgrade isort to 5.5.2, update repo URL
  .pre-commit-config.yaml
Due: none

ps: remove -o nospace for --format for consistency with other similar ones
  completions/ps
Due: shfmt
