Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

refactor(dpkg): convert xfunc `*_packages` to generators
  completions/apt-build
  completions/apt-get
  completions/aptitude
  completions/dpkg
Due: none

refactor(rpm): convert xfunc `*_packages` to generators
  completions/apt-get
  completions/rpm
Due: none

refactor(tar): rename functions for the API naming convention
  completions/tar
Due: none

refactor(mutt): refactor `{ => _comp_cmd_mutt__get}_muttrc`
  completions/mutt
Due: none

refactor(mutt): remove `_muttconffiles`
  completions/mutt
  test/t/test_mutt.py
Due: update-test-cmd-list, mypy

chore(dev): switch from `black` to `ruff format`
  .dir-locals.el
  .github/renovate.json
  .pre-commit-config.yaml
  doc/testing.md
  pyproject.toml
  test/requirements-dev.txt
Due: none

style(test): reformat with ruff
  test/t/conftest.py
  test/t/test_installpkg.py
  test/t/test_upgradepkg.py
  test/t/test_xz.py
Due: update-test-cmd-list, mypy

refactor(apt-get): convert xfunc `installed_packages` to a generator
  completions/apt-get
  completions/apt-mark
Due: none

refactor(scp): convert xfunc `local_files` to a generator
  completions/rsync
  completions/ssh
  completions/sshfs
Due: none

refactor(ssh): convert xfunc `options` to a generator
  completions/mussh
  completions/ssh
  completions/ssh-copy-id
Due: none

refactor(mysql): convert xfunc `character_sets` to a generator
  completions/mysql
  completions/mysqladmin
Due: none

refactor(asciidoc): convert xfunc `doctype` to a generator
  completions/a2x
  completions/asciidoc
Due: none

refactor(ssh): convert xfunc `suboption_check` to a generator
  completions/ssh
  completions/ssh-copy-id
Due: none

refactor(iconv): convert xfunc `charsets` to a generator
  completions/_svn
  completions/hunspell
  completions/iconv
  completions/links
  completions/svk
  completions/tree
  completions/wget
  completions/xmllint
Due: update-test-deprecated-links

refactor(make): Use awk to extract target names
  completions/make
Due: none

feat(_filedir_xspec): allow unsetting _comp_xspec for plain completion
  bash_completion
Due: none

feat(dprint): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(lefthook): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

refactor(make): separate out the awk script
  completions/make
  helpers/Makefile.am
  helpers/make-extract-targets.awk
Due: none

refactor: rename `_comp{ => _complete}_longopt`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/abook
  completions/pyvenv
  completions/sha256sum
  test/t/test_grep.py
  test/t/unit/test_unit_longopt.py
Due: update-test-cmd-list, mypy

refactor: rename `{ => _comp_complete}_known_hosts`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/vncviewer
Due: none

refactor: rename `{ => _comp_complete}_user_at_host`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/mussh
Due: none

refactor: rename `{ => _comp_complete}_service`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

refactor: rename `_comp{ => _{complete,compgen}}_filedir_xspec`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/7z
  completions/file-roller
  completions/jar
Due: none

docs(api-and-naming): describe function name `_comp_complete_*`
  doc/api-and-naming.md
Due: none

refactor: rename `{ => _comp_complete}_minimal`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/gcc
  completions/makepkg
Due: none

test(pre-commit): use native shfmt, one Docker dependency fewer
  .pre-commit-config.yaml
Due: none

test(pre-commit): shfmt+shellcheck test/fallback/update-fallback-links
  .pre-commit-config.yaml
  test/fallback/update-fallback-links
Due: none

fix: use XPG4 awk in Solaris
  bash_completion
  completions/_nmcli
  completions/convert
  completions/dpkg
  completions/iwconfig
  completions/make
  completions/portinstall
  test/runLint
Due: update-test-deprecated-links

fix(perl): fix ineffective condition in an awk script
  completions/perl
Due: none

fix: replace \s with [[:space:]] for POSIX sed/awk
  completions/_mock
  completions/_yum
  completions/chronyc
  completions/puppet
  completions/rpm
Due: update-test-deprecated-links

fix(_mock,rpm): avoid icase flag `s/reg/rep/i` of GNU sed
  completions/_mock
  completions/rpm
Due: update-test-deprecated-links

fix(iperf,puppet): use \{m,n\} instead of \? and \+ for POSIX sed
  completions/iperf
  completions/puppet
  test/update-test-cmd-list
Due: none

style: use `command` to call `sed`
  completions/ps
  completions/reportbug
  completions/rsync
Due: none

fix(iperf): work around failglob with backslash in bash-5.0
  completions/iperf
Due: none

fix(curl,qemu): avoid using POSIX character classes for mawk
  completions/curl
  completions/qemu
  test/runLint
Due: none

test(pre-commit): apply shfmt+shellcheck to test/runLint
  .pre-commit-config.yaml
  test/runLint
Due: none

style(_comp_awk): prefer `awk -F <char>` to `awk -F<char>`
  bash_completion
  completions/_rfkill
  completions/firefox
  completions/gphoto2
  completions/ktutil
  completions/lilo
  completions/modprobe
  completions/pkg-get
  completions/pkgutil
  completions/tipc
  test/runLint
Due: update-test-deprecated-links

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
