Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.18
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.3
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

fix(_filedir): always set compopt -o filenames to quote special chars
  bash_completion
  test/t/unit/test_unit_compgen_filedir.py
Due: update-test-cmd-list, mypy

chore(mfiutil): clean up and ignore mrsasutil symlink
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(nload): new completion
  completions/Makefile.am
  completions/nload
  test/t/Makefile.am
  test/t/test_nload.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

chore(perlcritic): Update perlcritic
  .pre-commit-config.yaml
Due: none

test(unit): add missing dependency on fixtures to help parallel testing
  test/t/unit/test_unit_count_args.py
  test/t/unit/test_unit_dequote.py
  test/t/unit/test_unit_get_first_arg.py
  test/t/unit/test_unit_quote.py
Due: update-test-cmd-list, mypy

ci(renovate): Add bot label for renovate PRs
  .github/renovate.json
Due: none

ci: Make release please add bot label to PRs
  .github/release-please-config.json
Due: none

test(unit): workaround for function definition in command offset test
  test/t/unit/test_unit_command_offset.py
Due: update-test-cmd-list, mypy

feat: associate .ogx and .oga with relevant programs
  bash_completion
Due: none

feat(aptitude): update sub-commands
  completions/aptitude
Due: none

feat(curl): Complete IP addresses for --interface
  completions/curl
  test/t/test_curl.py
Due: update-test-cmd-list, mypy

feat(wget): ipv6 addresses for --bind-address
  completions/wget
  test/t/test_wget.py
Due: update-test-cmd-list, mypy

refactor(secret-tool): deprecate ours in favor of upstream
  completions/Makefile.am
  completions/_secret-tool
  test/fallback/completions/Makefile.am
  test/fallback/completions/secret-tool
Due: update-test-fallback-links

fix(ip): Don't offer neighbour, only neighbor
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

ci: Try seeing longest tests
  .github/workflows/ci.yaml
Due: none

WIP: Support more bind9 utilities
  completions/bind9
Due: none

More experimental changes
  completions/bind9
Due: none

Review PR changes
  completions/bind9
Due: none

Properly use shared xfunc from nslookup and kdig support
  completions/bind9
  completions/nslookup
Due: none

Reduce some repetitions for dig and similar
  completions/bind9
Due: none

Adjust to coding style
  completions/bind9
Due: none

Use local variables inheritance
  completions/bind9
Due: none

feat(openssl): openssl list -commands, not help
  completions/openssl
  test/t/test_openssl.py
Due: update-test-cmd-list, mypy

feat(fsnotifywait,fsnotifywatch): new, alias to inotifywait
  completions/.gitignore
  completions/Makefile.am
  completions/inotifywait
Due: none

chore(typos): false positive workarounds
  .typos.toml
  test/t/test_time.py
Due: update-test-cmd-list, mypy

feat(openssl): show only standard commands
  completions/openssl
  test/t/test_openssl.py
Due: update-test-cmd-list, mypy

feat(openssl): Complete encryption algos for `enc`
  completions/openssl
  test/t/test_openssl.py
Due: update-test-cmd-list, mypy
