Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.3.1
  entry: shfmt
  args:
  - -w
  - -s
  stages:
  - commit

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false
  stages:
  - commit

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run ==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg
  stages:
  - commit

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.140.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'
  stages:
  - commit

chore(shellcheck): enable and address SC2162
  .shellcheckrc
  completions/feh
  completions/tar
Due: shfmt

chore(shellcheck): address most SC2015's
  .shellcheckrc
  bash_completion
  completions/ant
  completions/aptitude
  completions/dpkg
  completions/gcc
Due: shfmt

feat(truncate): new completion
  completions/Makefile.am
  completions/truncate
  test/t/Makefile.am
  test/t/test_truncate.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

fix(ip): netns list parsing with netnsids included
  completions/ip
Due: shfmt

test(_command_offset): test changing compspec during meta-completion
  test/t/unit/test_unit_command_offset.py
Due: update-test-cmd-list, mypy

test(_command_offset): add a case that the compspec is unchanged
  test/t/unit/test_unit_command_offset.py
Due: update-test-cmd-list, mypy

fix(_command_offset): handle exit 124 during meta-command completion
  bash_completion
Due: shfmt

refactor(_command_offset): refactor the retry loop by 124
  bash_completion
Due: shfmt

fix(_command_offset): discard previous results on retries
  bash_completion
Due: shfmt

chore(shellcheck): enable require-double-brackets
  .shellcheckrc
  completions/_modules
  doc/makeHtml.sh
  test/docker/entrypoint.sh
Due: shfmt

chore(shellcheck): enable and address SC2231
  .shellcheckrc
  bash_completion
Due: shfmt

chore(shellcheck): enable deprecate-which
  .shellcheckrc
Due: none

chore(shellcheck): remove disable for SC1004
  .shellcheckrc
Due: none

ci: test on fedoradev again
  .github/workflows/ci.yaml
Due: none

chore(pre-commit): update jorisroovers/gitlint to v0.17.0
  .pre-commit-config.yaml
Due: none

chore(deps): update flake8-bugbear to v21.11.29
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

fix(ulimit): do not offer soft/hard/unlimited directly after -S or -H
  completions/ulimit
  test/t/test_ulimit.py
Due: shfmt, update-test-cmd-list, mypy

fix(ulimit): complete limits only after option that takes one
  completions/ulimit
  test/t/test_ulimit.py
Due: shfmt, update-test-cmd-list, mypy

fix(ssh): do not complete commands if hostnames haven't been specified
  completions/ssh
  test/t/test_ssh.py
Due: shfmt, update-test-cmd-list, mypy

style(ssh): sort options the same as in ssh's usage message
  completions/ssh
Due: shfmt

feat(ssh): add -B arg completion
  completions/ssh
Due: shfmt

fix(ssh): don't confuse arg counting with option args
  completions/ssh
  test/t/test_ssh.py
Due: shfmt, update-test-cmd-list, mypy

chore(deps): update black to v21.12b0
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

Supports JEP 330 in 'java' autocompletion
  completions/java
Due: shfmt

test(_variables): test index completion under failglob
  test/t/unit/test_unit_variables.py
Due: update-test-cmd-list, mypy

fix(_variables): protect from failglob
  bash_completion
Due: shfmt

fix(_expand): avoid pathname expansions in eval arguments
  bash_completion
Due: shfmt

test(_expand): test with failglob
  test/t/unit/test_unit_expand.py
Due: update-test-cmd-list, mypy

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
