Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

.pre-commit-config.yaml:

default_stages: [commit]
minimum_pre_commit_version: 2.4.0

repos:

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion(\.d/[^/]+\.bash)?|completions/.+|test/(config/bashrc|fallback/update-fallback-links|runLint|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

      - id: update-test-fallback-links
        name: update-test-fallback-links
        language: script
        entry: test/fallback/update-fallback-links
        files: ^completions/_
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/
      - id: ruff-format
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies:
          - venv-run==0.2.0
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/perltidy/perltidy
    rev: "20240202"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/scop/pre-commit-perlcritic
    rev: v1.144-1
    hooks:
      - id: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.16
    hooks:
      - id: pymarkdown
        entry: pymarkdown
        args:
          - --config=.pymarkdown.json
          - scan
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.18.0
    hooks:
      - id: typos
        exclude: ^(CHANGELOG\.md|test/(test-cmd-list\.txt|fixtures/.+))$

chore(typos): avoid newly cropped up false positives
  .typos.toml
Due: none

style(tar): comment spelling fix
  completions/tar
Due: none

feat(ip): Complete ip link property
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

feat(ip): Complete neigh show and flush
  completions/ip
  test/t/test_ip.py
Due: update-test-cmd-list, mypy

fix(ip): Keep completing after -netns name
  completions/ip
Due: none

feat(ip): Complete commands for netns exec
  completions/ip
Due: none

fix(ip): Complete netns attach subcommand
  completions/ip
Due: none

fix(ip): Quote network namespace names
  completions/ip
Due: none

feat(ip): Complete help for unknown subcommands
  completions/ip
Due: none

fix(ip): Complete only relevant addrlabel subcmds
  completions/ip
Due: none

fix(ip): Complete addrlabel add/del properties
  completions/ip
Due: none

chore(ruff): simplify config
  pyproject.toml
Due: none

chore(ruff): enable isort, apply autofixes
  pyproject.toml
  test/t/test_java.py
  test/t/unit/test_unit_compgen.py
  test/t/unit/test_unit_load.py
Due: update-test-cmd-list, mypy

chore(git): ignore local mise configs, venv dir
  .gitignore
Due: none

feat(ssh-add): (non-)complete -H, -h, and -S arguments
  completions/ssh-add
Due: none

fix(ssh-add): option parsing with recent versions
  completions/ssh-add
Due: none

feat(ssh-keyscan): complete -O argument
  completions/ssh-keyscan
Due: none

feat(env): complete commands and variable assignments
  bash_completion
  completions/Makefile.am
  completions/env
  test/t/test_env.py
Due: update-test-cmd-list, mypy

feat(env): treat `-*` as the command name after assignments
  completions/env
  test/t/test_env.py
Due: update-test-cmd-list, mypy

fix(_comp_{load,realcommand}): handle option-like command name
  bash_completion
  test/t/unit/test_unit_load.py
  test/t/unit/test_unit_realcommand.py
Due: update-test-cmd-list, mypy

feat(env): treat `-*` as the command name after `-` and `--`
  completions/env
  test/t/test_env.py
Due: update-test-cmd-list, mypy

refactor(pkgutil): load on solaris only
  completions/pkgutil
Due: none

test: add macOS test script
  test/macos-script.sh
Due: none

TO BE REWORKED BEFORE MERGE: temporary macOS CI test config
  .github/workflows/ci.yaml
Due: none

refactor(nox): rename variable `bin_path => pathcmd` to match others
  completions/_nox
Due: update-test-fallback-links

fix: use `pathcmd=$(type -P -- "$1")` for arbitrary cmds
  completions/_nox
  completions/add_members
  completions/apt-get
  completions/arch
  completions/change_pw
  completions/check_db
  completions/clone_member
  completions/config_list
  completions/find_member
  completions/inject
  completions/list_admins
  completions/list_members
  completions/list_owners
  completions/mysql
  completions/newlist
  completions/perl
  completions/pydoc
  completions/remove_members
  completions/rmlist
  completions/rpm
  completions/ssh
  completions/ssh-copy-id
  completions/ssh-keygen
  completions/sync_members
  completions/withlist
Due: update-test-fallback-links

fix: use -- to pass arbitrary cmdnames to `_comp_load`
  bash_completion
  test/t/conftest.py
Due: update-test-cmd-list, mypy

fix(bash_completion,conftest): use `complete -p --` for arbitrary cmds
  bash_completion
  test/t/conftest.py
Due: update-test-cmd-list, mypy

fix(_comp_{compgen,xfunc}): use `declare -F --` for arbitrary funcs
  bash_completion
Due: none

fix(scp remote_files): do not filter generated paths with "$cur"
  completions/ssh
Due: none

fix(scp remote_files): localize variable `cur`
  completions/ssh
Due: none

feat(incus): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(zarf): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(dlv): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none
