Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(bts): update functions to generators and fix variable conflicts
  completions/bts
Due: none

fix(openssl): avoid variable conflicts
  completions/openssl
Due: none

fix(python): avoid variable conflicts
  completions/python
Due: none

fix(ssh): avoid variable conflicts
  completions/ssh
Due: none

Apply suggestions from code review
  completions/setfacl
Due: none

fixup! feat(pipenv): add fallback 3rd party completion loader
  completions/_pipenv
Due: update-test-deprecated-links

feat(pipenv): add fallback 3rd party completion loader (#1020)
  completions/Makefile.am
  completions/_pipenv
  test/fallback/completions/Makefile.am
  test/fallback/completions/pipenv
Due: update-test-deprecated-links

feat(flask): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(httpx): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(black,blackd): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

refactor: rename `{ => _comp}_count_args`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/7z
  completions/_cal
  completions/_xm
  completions/arp
  completions/avctrl
  completions/chmod
  completions/chown
  completions/cryptsetup
  completions/gpgv
  completions/hcitool
  completions/ifup
  completions/jq
  completions/jsonschema
  completions/lz4
  completions/mkinitrd
  completions/nc
  completions/nslookup
  completions/patch
  completions/quota
  completions/sh
  completions/ssh
  completions/xdg-mime
  completions/xdg-settings
  completions/zopflipng
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, update-test-deprecated-links, mypy

refactor: rename `{ => _comp}_get_first_word`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/cryptsetup
  completions/hcitool
Due: none

test(_count_args): check unexpected stdout
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

fix(_get_first_arg): remove invalid doccomment
  bash_completion
Due: none

refactor(_comp_count_args): return result via `ret`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/7z
  completions/_cal
  completions/_xm
  completions/arp
  completions/avctrl
  completions/chmod
  completions/chown
  completions/cryptsetup
  completions/gpgv
  completions/hcitool
  completions/ifup
  completions/jq
  completions/jsonschema
  completions/lz4
  completions/mkinitrd
  completions/nc
  completions/nslookup
  completions/patch
  completions/quota
  completions/sh
  completions/ssh
  completions/xdg-mime
  completions/xdg-settings
  completions/zopflipng
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, update-test-deprecated-links, mypy

test(_count_args): quote argument in test command
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

test(_comp_get_first_arg): add unit tests
  test/t/unit/Makefile.am
  test/t/unit/test_unit_get_first_arg.py
Due: update-test-cmd-list, mypy

fix(_comp_count_args): perform optarg check also on $3
  bash_completion
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

refactor(_comp_get_first_arg): return exit status
  bash_completion
  completions/cryptsetup
  completions/hcitool
Due: none

refactor(_comp_get_first_arg): return result via `ret`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/cryptsetup
  completions/hcitool
  test/t/unit/test_unit_get_first_arg.py
Due: update-test-cmd-list, mypy

fix(_comp_count_args): ignore empty $3
  bash_completion
Due: none

fix(_comp_count_args): check optarg correctly
  bash_completion
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

fix(_comp_{first_arg,count_args}): count any arguments after --
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  test/t/unit/test_unit_count_args.py
  test/t/unit/test_unit_get_first_arg.py
Due: update-test-cmd-list, mypy

fix(_comp_{first_arg,count_args}): count - as argument
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  test/t/unit/test_unit_count_args.py
  test/t/unit/test_unit_get_first_arg.py
Due: update-test-cmd-list, mypy

refactor(_comp_compgen_allowd_{users,groups}): call generator directly
  bash_completion
Due: none

fix(_comp_compgen_fstypes): avoid unexpected expansions
  bash_completion
Due: none

fix(_comp_compgen_term): replace completions by default
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

fix(_comp_compgen_usergroup): avoid directly overwriting COMPREPLY
  bash_completion
Due: none

refactor: rename `_comp_compgen_usergroup{ => s}`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/chown
  completions/cpio
Due: none

refactor: rename variable `{ => _comp}_xspecs`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

refactor: rename `{ => _comp__init}_install_xspec`
  bash_completion
Due: none

refactor: rename `{ => _comp_}_included_ssh_config_files`
  bash_completion
Due: none

refactor: rename `_comp{ => _compgen}_selinux_users`
  bash_completion
  completions/useradd
  completions/usermod
Due: none

refactor: rename `_{ => comp}_load_completion`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
  completions/_cargo
  test/fixtures/_comp_load/bin/cmd1
  test/fixtures/_comp_load/bin/cmd2
  test/fixtures/_comp_load/prefix1/bin/cmd1
  test/fixtures/_comp_load/prefix1/bin/sh
  test/fixtures/_comp_load/prefix1/sbin/cmd2
  test/fixtures/_comp_load/prefix1/share/bash-completion/completions/cmd1
  test/fixtures/_comp_load/prefix1/share/bash-completion/completions/cmd2
  test/fixtures/_comp_load/prefix1/share/bash-completion/completions/sh
  test/fixtures/_comp_load/userdir1/completions/cmd1
  test/fixtures/_comp_load/userdir2/completions/cmd2
  test/t/conftest.py
  test/t/test_dict.py
  test/t/unit/test_unit_load_completion.py
Due: update-test-cmd-list, update-test-deprecated-links, mypy

refactor(mussh): clean up option `-a`
  completions/mussh
Due: none

refactor: rename `_completion_loader => _comp_complete_load`
  bash_completion
  bash_completion.d/000_bash_completion_compat.bash
Due: none

feat(_comp_get_fist_arg): support "-o GLOB" to skip optargs
  bash_completion
  test/t/unit/test_unit_get_first_arg.py
Due: update-test-cmd-list, mypy

test(_comp_get_first_arg): introduce helper function
  test/t/unit/test_unit_get_first_arg.py
Due: update-test-cmd-list, mypy

feat: add `_comp_locate_first_arg`
  bash_completion
Due: none

perf(_comp_count_args): skip reinitializing cword and words
  bash_completion
  completions/7z
  completions/chmod
  completions/cryptsetup
  completions/hcitool
  completions/mkinitrd
  completions/nc
  completions/nslookup
  completions/patch
  completions/quota
  completions/zopflipng
  test/t/unit/test_unit_count_args.py
Due: update-test-cmd-list, mypy

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
