Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-deprecated-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-deprecated-links:
  name: update-test-deprecated-links
  language: script
  entry: test/deprecated/update-deprecated-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(lvm): replace array slices with existing utility
  completions/lvm
Due: none

chore(pre-commit): update ruff hook repo URL
  .pre-commit-config.yaml
Due: none

test(lvm): add basic subcommand options case
  test/t/test_lvm.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

chore(gitignore): b2sum
  completions/.gitignore
Due: none

test(*sum): test and require longopt consistently
  test/t/test_b2sum.py
  test/t/test_md5sum.py
  test/t/test_sha256sum.py
  test/t/test_sum.py
Due: update-test-cmd-list, mypy

test(sha{224,384,512}sum): add options test cases
  test/t/Makefile.am
  test/t/test_sha224sum.py
  test/t/test_sha384sum.py
  test/t/test_sha512sum.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

test(tree): xfail options test if `--help` contains no options
  test/t/test_tree.py
Due: update-test-cmd-list, mypy

feat(_comp_backup_glob): require dash in dpkg backup files
  bash_completion
Due: none

feat(_comp_backup_glob): add `ucf` generated backup files
  bash_completion
Due: none

fix(eog): add completion for AVIF and WEBP files
  completions/eog
Due: none

Add ppm extension for eog
  completions/eog
Due: none

feat(eog): associate with `*.pbm` (#1006)
  completions/eog
Due: none

test(declare): `_comp_compgen` instead of `_parse_help` as test subject
  test/t/test_declare.py
Due: update-test-cmd-list, mypy

feat(eog): associate with `*.avif` and `*.webp` (#1005)
  completions/eog
Due: none

feat(ansible*): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(ssh-inscribe): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(cz): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(airflow): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

fix(__load_completion): quoted compspec for variants
  bash_completion
Due: none

Apply suggestions from code review
  bash_completion
Due: none

fix(__load_completion): quoted compspec for variants (#1008)
  bash_completion
Due: none

feat(eog): associate with `*.heic` and `*.jxl`
  completions/eog
Due: none

test(typos): work around false positives cropped up in 1.15.x
  .typos.toml
  test/t/test_info.py
Due: update-test-cmd-list, mypy

feat(hash): new completion
  completions/Makefile.am
  completions/hash
  test/t/Makefile.am
  test/t/test_hash.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

Update completions/hash
  completions/hash
Due: none

feat(hash): new completion (#1013)
  completions/Makefile.am
  completions/hash
  test/t/Makefile.am
  test/t/test_hash.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

feat(keyring): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_keyring
  test/fallback/completions/Makefile.am
  test/fallback/completions/keyring
Due: update-test-deprecated-links

feat(rtx): add fallback 3rd party completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

refactor(vpnc): rename function per naming guidelines
  completions/vpnc
Due: none

feat(eog): add missing extension .heif
  completions/eog
Due: none

feat(pipenv): add fallback 3rd party completion loader
  completions/Makefile.am
  completions/_pipenv
  test/fallback/completions/Makefile.am
  test/fallback/completions/pipenv
Due: update-test-deprecated-links

pytest: complete new --import-mode value
  completions/pytest
Due: none

feat(pytest): complete new --import-mode value (#1021)
  completions/pytest
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-deprecated-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
