Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-test-cmd-list, update-test-fallback-links, mypy

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

update-test-fallback-links:
  name: update-test-fallback-links
  language: script
  entry: test/fallback/update-fallback-links
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run==0.2.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

fix(_comp_dequote): set the literal value to REPLY as a fallback (#1483)
  bash_completion
  completions/java
  completions/make
  completions/mutt
  completions/pkgutil
  completions/ssh
  test/t/unit/test_unit_dequote.py
Due: update-test-cmd-list, mypy

feat(smartctl): update for smartmontools 7.5
  completions/smartctl
Due: none

test(dequote{,_incomplete}): use raw stringliteral r""
  test/t/unit/test_unit_dequote.py
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

fix(java,rsync,ssh): complete syntactically incomplete cur
  bash_completion
  completions/java
  completions/ssh
  test/fixtures/scp/local_path/backslash-a b.txt
  test/fixtures/scp/local_path/backslash-a\ b.txt
  test/t/test_javadoc.py
  test/t/test_scp.py
  test/t/unit/Makefile.am
  test/t/unit/test_unit_dequote_incomplete.py
Due: update-test-cmd-list, mypy

chore(pre-commit): check for illegal Windows filenames
  .pre-commit-config.yaml
Due: none

test(scp): create files on the fly to work around Windoes filesystem
  test/fixtures/scp/local_path/backslash-a b.txt
  test/fixtures/scp/local_path/backslash-a\ b.txt
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(scp): work around incomplete triple backslashes for remote paths
  completions/ssh
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(_filedir): always set compopt -o filenames to quote special chars
  bash_completion
  test/t/unit/test_unit_compgen_filedir.py
Due: update-test-cmd-list, mypy

fix(_filedir): apply trailing slashes with `-f`
  bash_completion
  completions/_mount.linux
  completions/_slackpkg
  completions/removepkg
  completions/sbopkg
  completions/slapt-get
Due: update-test-fallback-links

feat(_filedir): add tests with `_comp_compgen -C`
  test/t/unit/test_unit_compgen_filedir.py
Due: update-test-cmd-list, mypy

feat(*sum): handle more common checksum filenames
  completions/sha256sum
  test/fixtures/sha256sum/checksums
  test/fixtures/sha256sum/checksums.txt
  test/fixtures/sha256sum/dir/.gitignore
  test/fixtures/sha256sum/sha256sums
  test/fixtures/sha256sum/sha256sums.txt
  test/t/test_sha256sum.py
Due: update-test-cmd-list, mypy

chore(release-please): release as draft
  .github/release-please-config.json
Due: none

docs(CHANGELOG): move 2.17.0 section to first
  CHANGELOG.md
Due: none

fix(bash_completion): correct SysVInit services targets parsing
  bash_completion
Due: none

fix(_comp_complete_service): fix init-script-action parsing (#1499)
  bash_completion
Due: none

fix(cargo): removed local from a variable declaration outside a function
  completions/_cargo
Due: update-test-fallback-links

feat(pnpm): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

chore(renovate): extend scop/common preset
  .github/renovate.json
Due: none

feat(aclocal,automake): support versioned 1.17 executables
  completions/.gitignore
  completions/Makefile.am
Due: none

feat(python,pyvenv): support versioned 3.14 and .15 executables
  completions/Makefile.am
  completions/python
Due: none

feat(pydoc): support versioned 3.13..15 executables
  completions/.gitignore
  completions/Makefile.am
  completions/pydoc
Due: none

feat(sudo-rs,sudo.ws): alias to sudo
  completions/.gitignore
  completions/Makefile.am
  completions/sudo
Due: none

feat(waydroid): add 3rd party fallback completion loader
  completions/.gitignore
  completions/Makefile.am
Due: none

refactor(sudo): sort options alphabetically by short one
  completions/sudo
Due: none

feat(sudo): more option argument (non-)completions
  completions/sudo
Due: none

docs(styleguide): remove extra backtick
  doc/styleguide.md
Due: none

test sorting with LC_COLLATE
  test/macos-script.sh
Due: none

feat(ssh-keygen): -Z argument completion
  completions/ssh-keygen
Due: none

Path conditions:
  update-test-cmd-list: any of: ^test/t/.+\.py$
  update-test-fallback-links: any of: ^completions/_
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
